// =============================================
// Default (page.php)
// =============================================

.page, .blog {

    .quote {
        padding: 0 spacing();
        margin: spacing(lg) 0 spacing(xl) 0;
        position: relative;
        
        @include bp(min-width break(sm)) { 
            padding: 0 spacing(lg);
            margin: spacing(xl) 0 spacing(xl) 0;
        }
        
        @include bp(min-width break(xl)) { 
            width: calc(100%);
            left: 0;
            padding-left: 0;
            padding-right: 176px !important;
            margin-bottom: 200px;
        }
        
        @include bp(min-width break(xxl)) { 
            padding-right: 390px !important;
            margin-top: 300px;
            margin-bottom: 300px;
        }

        .quote-content-container {
            padding: 5px !important;
            margin: 0 !important;
            
            .content {
                padding: 5px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: stretch;
                
                .quote-bracket {
                    width: 10%;
                    height: 100%;
                    align-self: stretch;
                    
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
                
                .right {
                    img {
                        margin-left: auto;
                        margin-right: 0;
                    }
                }
                
                .content-wrapper {
                    width: 80%;
                    padding: 0 spacing();
                    position: relative;
                    top: 50%;
                    align-self: center;
                    
                    .text {
                        align-self: center;
                        @include responsive-font(2.3vw, 16px, 32px, 32px);
                        line-height: 1.3em;
                        margin: 50px 0;
                        width: 100%;
                        
                        @include bp(min-width break(lg)) {
                            margin-top: 25px;
                            margin-bottom: 25px;
                        }
                    }
                    
                    .author-wrapper {
                        position: relative;
                        left: 0;
                        
                        .logo {
                            width: 40%;
                            
                            @include bp(min-width break(md)) {
                                width: 20%
                            }
                        }
                    }
                }  
            }
        }
    }
    
    .author-bio {
        background: base-colour(grey);
        padding-top: spacing(md);
        padding-bottom: spacing(md);
        margin-bottom: spacing(lg);
        
        @include bp(min-width break(sm)) {
            padding: spacing(md);
            margin-right: spacing(lg);
        }
        
        @include bp(min-width break(xl)) { 
            padding-top: spacing(lg);
            padding-bottom: spacing(lg);
            margin-top: spacing(md);
            margin-bottom: spacing(xl);
            width: 80%;
        }
        
        @include bp(min-width break(xxl)) {
            padding-right: 116px;
            margin-left: 180px;
            width: 50%;
        }
        
        .author-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            
            .author-avatar {                
                img {
                    border-radius: 50%;
                }
            }
            
            .author-title {
                padding-left: spacing();
                width: 50%;
                flex-grow: 1;
                
                @include bp(min-width break(lg)) { 
                    padding-left: spacing(md);
                }

                .author-social {
                    padding: 0;
                    
                    .item {
                        display: inline-block;
                        margin-top: spacing();
                        margin-right: 24px;
                        
                        &:last-child {
                            margin-right: 0;
                        }
                        
                        .social-icons {
                            border-bottom: 0;
                            display: block;
                            
                            &:before {
                                content: '';
                                background-size: auto 100% !important;
                                background-repeat: no-repeat !important;
                                background-position: center !important;
                                display: block;
                                height: 15px;
                                width: 20px;
                                
                                @include bp(min-width break(xxl)) {
                                    height: 20px;
                                    width: 25px;
                                }
                            }
                            
                            span {
                                display: none;
                            }
                        }
                        
                        .facebook-icon {
                            &:before {
                                background-image: url('../images/icons/facebook-icon.svg');
                            }
                        }
                        
                        .twitter-icon {
                            &:before {
                                background-image: url('../images/icons/twitter-icon.svg');
                            }
                        }
                        
                        .google-icon {
                            &:before {
                                background-size: 100% auto !important;
                                background-image: url('../images/icons/google-icon.svg');
                            }
                        }
                        
                        .linkedin-icon {
                            &:before {
                                background-size: auto 100% !important;
                                background-image: url('../images/icons/linkedin-icon.svg');
                            }
                        }
                    }
                }
            }
            
            .author-description {
                font-size: 0.8rem;
                margin-top: spacing();
                
                @include bp(min-width break(xl)) { 
                    padding-right: spacing(xl);
                }
            }
        }
    }
    
    blockquote {
        padding: 0 spacing();
        margin: spacing(lg) 0;
        position: relative;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        
        p {
            padding: spacing();
            margin-bottom: 0;
            font-size: 1.5rem !important;
            width: 80%;
        
            @include bp(min-width break(xxl)) { 
                width: 50% !important;
            }
        }
        
        &:before,
        &:after {
            content: '';
            display: block;
            position: relative;
            width: 10%;
            height: auto;
            background-size: auto 100% !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
        }
        
        &:before {
            background-image: url('../images/quote-bracket-left.svg');
        }
        
        &:after {
            background-image: url('../images/quote-bracket-right.svg');
        }
    }
    
    // title wrappers
    .title-wrapper {
        margin-bottom: 25px;
        overflow: hidden;
        position: relative;
    }
    
    // for thumbnail lists
    .grid {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
        position: relative;
        
        @include bp(min-width break(sm)) {
            flex-direction: row;
        }
        
        @include bp(max-width break(lg)) {
            background-color: base-colour(white);
        }
        
        .grid-item {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            position: relative;
            overflow: hidden;
            flex-grow: 1;
            
            @include bp(min-width break(sm)) {
                width: 50%;
            }
            
            @include bp(min-width break(md)) {
                margin-bottom: 82px;
            }
            
            a { border: 0; }
            
            // thumbnails
            .thumbnail-wrapper {
                overflow: hidden;

                .thumbnail {
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: relative;
                    z-index: 0;
                    height: 100%;
                    transition: ease 1s;
                
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            
            // meta
            .meta {
                background-color: base-colour(white);
                display: flex;
                flex-direction: column;
                padding: spacing() spacing() spacing(md) spacing();
                position: relative;
                
                @include bp(min-width break(lg)) {
                    padding: spacing() spacing() spacing(md) 0;
                }
                
                a {
                    border: 0 !important;
                }
                
                p {
                    margin-bottom: 0;
                }
                
                .tag {
                    @include responsive-font(1vw, 12px, 14px, 14px);
                    margin-bottom: spacing(xs);
                }

                .cat {
                    @include responsive-font(1vw, 12px, 14px, 14px);
                }
                
                .post-title {
                    line-height: 1.5em;
                }
                
                .more-link {
                    margin-top: spacing(md);
                }
            }
        }
    }
    
    // grid columns
    .one-column {
        justify-content: flex-start;
    
        .grid-item {
            width: 100%;
        }
    }
    
    // grid columns
    .three-column {
        justify-content: flex-start;
    
        .grid-item {
            flex-grow: 0;
            
            @include bp(min-width break(xl)) {
                width: 33.333%;
            }
        }
    }
    
    .four-column {
        justify-content: flex-start;
         
        .grid-item {
            flex-grow: 0;
            
            @include bp(min-width break(xl)) {
                width: 25%;
            }
        }
    }
    
    .five-column {        
        .grid-item {
            @include bp(min-width break(lg)) {
                width: 20%;
            }
        }
    }
    
    // established icons
    .est {
        @include responsive-font(1vw, 8px, 14px, 14px);
        font-weight: bold;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        margin-bottom: spacing(md);
        
        @include bp(min-width break(md)) {
            margin-bottom: spacing(lg);
        }
          
        &:after {
            content: '';
            display: block;
            background: lighten(base-colour(), 80%);
            width: 25px;
            height: 1px;
            position: relative;
            top: 8px;
        }
        
        .est-icon {
            display: inline-block;
            height: 16px;
            
            img {
                height: 100%;
                margin-top: 2px;
            }
        }
    }
    
    // featured image
    .featured-image {
        position: relative;
        transition: all ease 0.4s;
        z-index: 1;
        max-width: 100%;
        
        .image {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-top: 50%;
            position: relative;
            top: -50px;
        }
        
    }
    
    // scroll down arrow in left gutter
    .down-arrow {
        position: relative;
        top: 50%;
        left: -107px;
        
        @media all // ie fix
        and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            top: 0;
        }
        
        // edge fix
        @supports (-ms-ime-align:auto) {
            top: 0;
        }
        
        img {
            opacity: 0;
        }
    }
    
    // content containers for anmations
    .content-container {
        position: relative;
        overflow: hidden;
        width: 100%;
    
        @include bp(min-width break(md)) { 
            @include bp(max-width break(lg)) { 
                margin-left: 64px;
            }
        }
        
        @include bp(min-width break(sm)) { 
            width: 80%;
        }
    
        @include bp(min-width break(xl)) {
            width: 70%;
        }

        @include bp(min-width break(xxl)) {
            width: 60%;
        }
    
        .content-wrapper {
            margin-right: spacing();
    
            .title {
                margin-bottom: 24px;
                
                @include bp(min-width break(sm)) {
                    width: 90%;
                }
            }
            
            ol, ul {
                margin: spacing(md) 0;
            }

            .content {
                font-weight: 300 !important;
                line-height: 2em;
                
                @include bp(min-width break(sm)) { 
                    width: 80%;
                }
                
                @include bp(min-width break(xxl)) {
                    width: 70%;
                }
            }
        }
    }
    
    .bg {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        
        @include bp(min-width break(lg)) {
            left: -176px;
        }
    }
    .grey-bg {
        background: base-colour(grey-light);
    }
    
    .darkgrey-bg {
        background: base-colour(grey-dark);
    }
    
    .orange-bg {
        background: base-colour(orange);
    }
    
    .featured-image-bg {
        top: 100px;
        height: 500px;
    }
    
    p a {
        transform: perspective(1px) translateZ(0);
        position: relative;
        transition: color ease 0.4s;
        
        &:before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #FEB941;
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition-property: transform;
          transition-duration: 0.3s;
          transition-delay: 0.1s;
          transition-timing-function: ease-out;
        }
        
        &:hover {
            &:before {
                transform: scaleX(1);
            }
        }
    }
    
    .more-link {
        @include responsive-font(1.5vw, 16px, 18px, 18px);
        font-weight: 300;
        letter-spacing: 0.8px;
        text-decoration: none;
        background-color: inherit;
        border: 0;
        width: auto;
        display: inline-block !important;
        transform: perspective(1px) translateZ(0);
        position: relative;
        transition: color ease 0.4s;
        margin-bottom: 5px;

        span {
            position: relative;
            
            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                z-index: -2;
                bottom: -2px;
                left: 0;
                background: #080707;
                height: 2px;
                width: 100%;
                transition-duration: 0.4s;
            }
            
            &:before {
              content: '';
              position: absolute;
              z-index: -1;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: #FEB941;
              transform: scaleX(0);
              transform-origin: 0 50%;
              transition-property: transform;
              transition-duration: 0.3s;
              transition-delay: 0.1s;
              transition-timing-function: ease-out;
            }
        }
        
        &:hover {
            span {
                &:before {
                    transform: scaleX(1);
                }
            }
        }
    }
}