$social: (twitter), (facebook), (google);

// =============================================
// Footer
// =============================================

.foot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: spacing();

    @include bp(min-width break(lg)) {
        width: calc(100% - 176px);
        padding-bottom: spacing(lg);
        margin-top: spacing(lg);
    }
    
    h3 {    
        @include bp(min-width break(lg)) {
            font-size: 20px;
        }
        
        @include bp(min-width break(xxl)) {
            font-size: 30px;
        }
    }
    
    // social
    .foot__social {
        padding: 0;
        margin: 0 0 60px 0;
        
        @include bp(max-width break(md)) {
            order: -1;
        }
        
        @include bp(min-width break(lg)) { 
            margin: 0 0 spacing(md) 0;
        }
        
        @include bp(min-width break(xxl)) {
            margin: 0 0 spacing(lg) 0;
        }
        
        .item {
            display: inline-block;
            margin-right: spacing();
            
            @include bp(min-width break(lg)) {
                margin-right: 40px;
            }
            
            &:last-child {
                margin-right: 0;
            }
                
            .social-icons {
                border-bottom: 0;
                display: block;
                
                &:before {
                    content: '';
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    display: block;
                    height: 30px;
                    width: 35px;
                    
                    @include bp(min-width break(lg)) {
                        height: 25px;
                        width: 30px;
                    }
                }
                
                span {
                    display: none;
                }
            }
            
            .facebook-icon {
                &:before {
                    background-image: url('../images/icons/facebook-icon.svg');
                }
            }
            
            .twitter-icon {
                &:before {
                    background-image: url('../images/icons/twitter-icon.svg');
                }
            }
            
            .google-icon {
                &:before {
                    background-size: 100% auto !important;
                    background-image: url('../images/icons/google-icon.svg');
                }
            }
        }
        
    } // end social
    
    &__details {        
        @include bp(max-width break(sm)) {
            margin: spacing() 0;
            order: -1;
        }
        
        @include bp(min-width break(sm)) { 
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: spacing(md);
        }
        
        h3 {
            @include bp(min-width break(sm)) { 
                margin-bottom: spacing();
            }
        }
        
        .menu-newsletter {                                
            display: none;
        }
        
        .footer-newsletter {                                
            display: block;
        }
        
        &--newsletter {            
            @include bp(min-width break(sm)) { 
                margin-bottom: spacing(md);
                width: 100%; 
            }
            
            @include bp(min-width break(lg)) {
                width: 40%;
                margin-bottom: 0;
            }
            
            nf-fields-wrap {
                padding: 5px;
                margin-top: spacing();
                display: flex;
                position: relative !important;
                
                nf-field {
                    width: 100% !important;
                    
                    &:nth-child(2) {
                        height: 100%;
                        width: 10px !important;
                        position: relative !important;
                        top: 0;
                        right: 0;
                    }
                }
            }

            input[type="email"] {
                font-weight: 300;
                border-bottom: 1px solid base-colour(black) !important;
                position: relative;
                display: inline-block;
                width: 100%;
                
                &::placeholder {
                    color: base-colour(black);
                    @include responsive-font(1vw, 14px, 18px, 18px);
                    font-weight: 300;
                    z-index: 1;
                    
                    @include bp(min-width break(xxl)) {
                        @include responsive-font(5vw, 18px, 20px, 20px);
                    }
                }
            }

            input[type="button"] {
                color: transparent;
                background-color: transparent;
                padding: 10px;
                width: 10px !important;
                height: 10px;
                background-image: url('../images/icons/arrow-icon.svg');
                background-repeat: no-repeat;
                transform: rotate(-90deg);
                position: relative;
                top: 5px;
                right: 20px;
            }

            .nf-form-fields-required {
                display: none;
            }
        }
        
        &--callback {
            @include bp(max-width break(sm)) {
                display: none;
            }
            
            @include bp(min-width break(sm)) {
                padding: 0 spacing(md) 0 0;
                width: 50%;
            }
            
            @include bp(min-width break(lg)) {
                padding: 0 spacing(md);
                width: 30%;
            }
            
            @include bp(min-width break(xl)) {
                padding: 0 spacing(lg);
            }
            
            @include bp(min-width break(xxl)) {
                @include responsive-font(5vw, 18px, 20px, 20px);
            }
        }
        
        &--contact {
            @include responsive-font(5vw, 16px, 18px, 18px);
            
            @include bp(min-width break(sm)) { 
                width: 50%;
            }
            
            @include bp(min-width break(lg)) {
                width: 30%;
            }
            
            @include bp(min-width break(xxl)) {
                @include responsive-font(5vw, 18px, 20px, 20px);
            }
            
            .list {
                @include bp(min-width break(sm)) {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                }

                .item {
                    margin-bottom: spacing();
                    
                    @include bp(min-width break(sm)) {
                        width: 50%;
                    }
                    
                    h3 {
                        @include bp(max-width break(sm)) {
                            display: none;
                        }
                    }
                }
                
                .address {
                    line-height: 2.5em;
                    margin: 60px 0;
                    
                    @include bp(min-width break(sm)) {
                        display: none;
                    }
                }
            }
        }
    }
    
    &__info {
        display: flex;
        flex-direction: row;
        
        @include bp(min-width break(sm)) { 
            margin-bottom: spacing(md);
        }
        
        @include bp(min-width break(lg)) { 
            margin: -16px 0 0 0;
            align-items: center;
        }
        
        &--copyright {
            @include responsive-font(0.7vw, 10px, 14px, 14px);
            
            @include bp(max-width break(lg)) {
                display: none;
            }
            
            p {
                margin: 0;
            }
            
            @include bp(min-width break(lg)) { 
                width: 40%;
            }
        }
        &--links {
            @include responsive-font(0.7vw, 10px, 14px, 14px);
            
            @include bp(max-width break(lg)) {
                display: none;
            }
            
            @include bp(min-width break(lg)) {
                padding: 0 spacing(md);
                width: 30%;
            }

            @include bp(min-width break(xl)) {
                padding: 0 spacing(lg);
            }
            
            .list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                
                .item {
                    width: 25%;
                }
            }
        }
        
        &--awards {
            width: 100%;
            
            @include bp(min-width break(lg)) { 
                width: 30%;
            }
            
            .list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                
                @include bp(min-width break(lg)) {
                    justify-content: flex-end;
                }
            }
            
            li {
                margin: 0 32px 0 0;
                width: auto;
                
                @include bp(min-width break(md)) {
                    margin: 0 16px 0 0;
                }
                
                @include bp(min-width break(lg)) {
                    margin: 0 32px 0 0;
                }
                
                &:last-child {
                    margin-right: 0;
                }
                
                img {
                    max-width: 150px;
                }
            }
        }
    }
}