// =============================================
// Header
// =============================================

.head {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    width: 100%;
    
    @include bp(min-width break(lg)) {
        background: transparent;
        position: relative;
    }
        
    // left
    &__left {
        padding: spacing() spacing(md);
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        
        @include bp(min-width break(sm)) {
            padding: spacing() spacing(lg);
        }
        
        @include bp(min-width break(lg)) {
            padding: spacing(md) spacing(lg);
            width: 50%;
        }
        
        &--navigation {
            width: 55px;
            margin-left: -16px;
            
            @include bp(min-width break(lg)) {
                margin-left: 0;
                position: fixed;
            }
        }
        
        &--logo {
            margin-left: spacing();
            width: 45%;
            
            @include bp(min-width break(lg)) {
                margin-left: spacing(xl);
            }
        }
        
        .header-logo {
            position: relative;
            z-index: -1;
        }
        
        &--contact {
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex-grow: 1;
            
            .tel {
                width: 30px;
            }
            
            .email {
                width: 25px;
            }
            
            @include bp(min-width break(lg)) {
                display: none;
            }
        }
    } // end of left
    
    // right
    &__right {
        display: none;

        @include bp(min-width break(lg)) {
            margin-right: spacing(lg);
            width: 40%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        
        @include bp(min-width break(xxl)) {
            width: 30%;
        }
        
        p {
            @include responsive-font(1.5vw, 8px, 16px, 16px);
            
            a {
                display: block;
            }
        }
        
        &--contact {
            display: none;
            
            @include bp(min-width break(lg)) {
                display: flex;
                width: 50%;
            }
        }
        
        &--address {
            display: none;
            
            @include bp(min-width break(lg)) {
                width: 35%;
                display: flex;
            }
        }
    }
    
} // end of head