$social: (twitter), (facebook), (google);

// =============================================
// Navigation
// =============================================

.head {
    &__left {
        &--navigation {
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                
                a {
                    cursor: pointer;
                }
            }
        }
        
        .burger-btn {
            background: base-colour(white);
            width: 55px;
            height: 55px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            position: relative;
            top: 0;
            z-index: 100;

            .line {
                transition: ease 0.4s;
                background: base-colour(base);
                display: block;
                width: 22px;
                height: 3px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all ease 0.4s;
                z-index: 100;

                @include bp(min-width break(lg)) {
                    width: 30px;
                    height: 4px;
                }
            }

            .one {
                top: calc(50% - 7px);

                @include bp(min-width break(lg)) {
                    top: calc(50% - 9px);
                }
            }
            .three {
                top: calc(50% + 7px);

                @include bp(min-width break(lg)) {
                    top: calc(50% + 9px);
                }
            }
        }
        
        .nav-container {
            background-color: base-colour(black);
            position: absolute;
            top: 80px;
            left: 0;
            height: 0;
            width: 100vw;
            transition: ease 0.4s;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;
            
            @include bp(min-width break(lg)) {
                position: fixed;
                top: 0;
                overflow-y: hidden;
            }
            
            .menu-logo {
                position: fixed;
                top: 32px;
                left: 64px;
                z-index: 1;
                
                @include bp(max-width break(lg)) {
                    display: none;
                    top: 28px;
                }
                
                img {
                    opacity: 0;
                }
            }
            
            #wp-megamenu-header-menu {
                height: auto;
                width: 100%;
                
                @include bp(min-width break(lg)) {
                    height: 60vh;
                }
                
                .wpmm-nav-wrap {
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    
                    ul.wp-megamenu {
                        height: 75vh;
                        max-height: 100vh;
                        padding: spacing(md) spacing();
                        width: 100%;
                        
                        @include bp(min-width break(xs)) {
                            padding: spacing(md);
                        }
                        
                        @include bp(min-width break(sm)) {
                            padding: spacing(md) spacing(lg);
                            height: 60vh;
                        }
                        
                        @include bp(min-width break(lg)) {
                            margin-left: 70px;
                            padding: 64px 0;
                            padding: 100px 0 spacing(md) 100px;
                            columns: 2;
                        }
                        
                        li {
                            margin-left: 16px;
                            opacity: 0;
                            transition: ease 0.4s;
                            
                            a {
                                @include responsive-font(8vw, 18px, 18px, 18px);
                                color: base-colour(white);
                                line-height: 2em;
                                border-bottom: 2px solid transparent;
                                transition: ease 0.4s;
                                cursor: pointer;
                                
                                @include bp(min-width break(lg)) {
                                    line-height: 2.4em;
                                }
                                
                                @include bp(min-width break(lg)) {
                                    @include responsive-font(8vw, 18px, 32px, 32px);
                                }

                                @include bp(min-width break(xxl)) {
                                    @include responsive-font(8vw, 18px, 32px, 32px);
                                }
                                
                                &:before {
                                    @extend %icon;
                                    @extend %colon;
                                    display: inline-block;
                                    font-size: 0.5em;
                                    margin-right: 8px;
                                    margin-left: -16px;
                                }
                                
                                &:hover {
                                    color: branding-colour(orange);
                                    border-bottom: 2px solid branding-colour(orange);
                                }
                            }
                        }
                        
                        .parent {
                            .wp-megamenu-sub-menu {
                                padding: 64px 16px;
                                height: 75vh;
                                width: 100%;
                                position: absolute;
                                top: 0;
                                left: 100vw;
                                z-index: 2;
                                transition: ease 0.4s;
                                
                                @include bp(min-width break(xs)) {
                                    padding: spacing(lg) spacing(md);
                                }
                                
                                @include bp(min-width break(sm)) {
                                    padding: spacing(lg);
                                    height: 60vh;
                                    columns: 2;
                                }
                                
                                @include bp(max-width break(lg)) {
                                    width: 100%;
                                }
                                
                                @include bp(min-width break(lg)) {
                                    padding: 100px 0 spacing(lg) 170px;
                                    columns: 2;
                                    display: flex;
                                    align-content: flex-start;
                                    display: flex;
                                    flex-direction: column;
                                    flex-wrap: wrap;
                                    height: 67vh;
                                    column-width: 50%;
                                }
                                
                                li {
                                    &:first-child {
                                        position: relative;
                                    }
                                    
                                    @include bp(min-width break(lg)) {
                                        width: 50%;
                                    }
                                }
                                
                                .arrowClose {
                                    line-height: 3.5em;
                                    position: absolute;
                                    top: -50px;
                                    left: -16px;
                                    cursor: pointer;
                                    
                                    @include bp(min-width break(lg)) {
                                        top: 0;
                                        left: -100px;
                                    }
                                    
                                    &:before {
                                        @extend %icon;
                                        @extend %arrow;
                                        color: base-colour(white);
                                        font-size: 1.3em;
                                        display: inline-block;
                                        position: relative;
                                        cursor: pointer;
                                        transition: ease 0.4s;
                                        
                                        @include bp(min-width break(sm)) {
                                            font-size: 1.5em;
                                        }
                                        
                                        @include bp(min-width break(xxl)) {
                                            font-size: 1.7em;
                                        }
                                    }
                                }
                                
                                a {
                                    &:hover {
                                        color: base-colour(white);
                                        border-bottom: 2px solid base-colour(white);
                                    }
                                }
                            }
                            
                            .sub-menu {
                                &__0, &__1, &__2, &__3 {
                                    background-repeat: no-repeat;
                                    background-position: right 10px bottom;
                                    background-size: auto 150px;
                                    
                                    @include bp(min-width break(xs)) {
                                        background-position: right 40px bottom;
                                        background-size: auto 150px;
                                    }
                                    
                                    @include bp(min-width break(lg)) {
                                        background-size: auto 230px;
                                    }
                                    
                                    @include bp(min-width break(xxl)) {
                                        background-position: right 100px bottom;
                                        background-size: auto 350px;
                                    }
                                }
                                
                                // ecommerce
                                &__0 {
                                    background-color: branding-colour(red);
                                    background-image: url('../images/nav/ecommerce.svg');
                                }
                                
                                // strategy
                                &__1 {
                                    background-color: branding-colour(grey);
                                    background-image: url('../images/nav/strategy.svg');
                                    background-position: right bottom;
                                    
                                    .arrowClose:before,
                                    a {
                                        color: branding-colour(orange);
                                    }
                                }
                                
                                // seo
                                &__2 {
                                    background-color: branding-colour(orange);
                                    background-image: url('../images/nav/seo.svg');
                                    
                                    .arrowClose:before,
                                    a {
                                        color: branding-colour(maroon);
                                    }
                                }
                                
                                // ux
                                &__3 {
                                    background-color: branding-colour(turquoise);
                                    background-image: url('../images/nav/ux.svg');
                                    background-position: right bottom;
                                    
                                    .arrowClose:before,
                                    a {
                                        color: branding-colour(pink);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // menu footer
            .menu-footer {
                background-color: base-colour(white);
                position: relative;
                bottom: -100vh;
                transition: ease 0.4s;
                z-index: 3;
                
                @include bp(min-width break(lg)) {
                    height: 40vh;
                }
                
                .foot {
                    padding: spacing(lg) spacing();
                    
                    @include bp(min-width break(xs)) {
                        padding: spacing(md);
                    }
                    
                    @include bp(min-width break(sm)) {
                        padding: spacing(lg);
                    }
                    
                    @include bp(min-width break(lg)) {
                        padding: spacing(xl) spacing(lg);
                        font-size: 0.8em;
                        display: flex !important;
                        flex-direction: row;
                        flex-wrap: wrap;
                        width: 100%;
                        height: 100%;
                        margin-top: 0;
                        align-items: flex-start;
                        align-content: flex-start;
                    }
                    
                    @include bp(min-width break(xl)) {
                        padding: spacing(md) spacing(lg);
                    }
                    
                    a {
                        @include bp(min-width break(xl)) {
                            font-size: 0.8em;
                        }
                    }
                    
                    &__social {
                        @include bp(min-width break(lg)) {
                            width: 100%;
                        }

                        @include bp(min-width break(xl)) {
                            max-width: 20%;
                            padding-right: 32px;
                        }
                    }
                    
                    &__details {                        
                        @include bp(min-width break(lg)) {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                        }
                        
                        @include bp(min-width break(xl)) {
                            width: 80%;
                            flex-grow: 1;
                        }
                        
                        &--callback {
                            @include bp(min-width break(lg)) {
                                width: 50%;
                            }
                            
                            @include bp(min-width break(xl)) {
                                width: 30%;
                                flex-grow: 1;
                            }
                        }
                        
                        &--contact {
                            @include bp(min-width break(lg)) {
                                width: 50%;
                            }
                            
                            @include bp(min-width break(xl)) {
                                width: 30%;
                            }
                            
                            li {
                                @include bp(min-width break(lg)) {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                    
                    &__info {                        
                        @include bp(min-width break(lg)) {
                            width: 100%;
                        }
                        
                        &--links {                            
                            @include bp(min-width break(lg)) {
                                padding: 0 16px 0 0;
                            }
                        }
                    }
                    
                    &__social,
                    &__details,
                    &__info {
                        opacity: 1 !important;
                        margin: 0 0 16px 0;
                        
                        
                        li {
                            a {
                                opacity: 1 !important;
                            }
                        }
                        
                        p {
                            margin: 0;
                        }
                    }
                    
                    &__details {
                        .menu-newsletter {                            
                            @include bp(min-width break(xl)) {
                                display: block;
                                width: 30%;
                            }
                        }
                        
                        .footer-newsletter {
                            display: none;
                        }
                        
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

// added to .head__left--navigation on click of burger menu.
.toggle {
    // burger
    .burger-btn {
        background-color: transparent;
        
        .line {
            @include bp(min-width break(lg)) {
                background-color: base-colour(white);
            }
        }
        
        .one {
            top: calc(50% - 1px);
            left: calc(25% - 1px);
            transform: rotate(-45deg);
        }
        .two {
            opacity: 0;
        }
        .three {
            top: calc(50% - 1px);
            left: calc(25% - 1px);
            transform: rotate(45deg);
        }
    }
    
    // navigation
    .nav-container {
        height: calc(100vh - 80px) !important;
        
        @include bp(min-width break(lg)) {
            height: 100vh !important;
            top: 0 !important;
        }
        
        .menu-logo {
            margin-left: spacing();
            width: 45%;
            position: relative;
            z-index: 3;
            
            @include bp(min-width break(lg)) {
                margin-left: spacing(xl);
            }
            
            a {
                display: flex;

                &:before {
                    @extend %icon;
                    @extend %logo;
                    color: base-colour(white);
                    font-size: 2.5em;
                    margin-right: 8px;
                    margin-left: -16px;
                    display: inline-block;
                    opacity: 0;
                    transition: ease 0.4s;
                    
                    @include bp(min-width break(lg)) {
                        animation: fadeIn 0.7s forwards 0.3s;
                    }
                }
            }
        }
        
        #wp-megamenu-header-menu {
            animation: slideDown 0.4s forwards 0s;
            
            @include bp(min-width break(lg)) {
            }

            ul {
                li {
                    animation: fadeIn 0.7s forwards 0.4s;
                    
                    @include bp(min-width break(lg)) {
                        animation: fadeIn 0.4s forwards;
                    }
                }
            }
        }
        
        // menu footer
        .menu-footer {
            animation: slideUpMenu 0.7s forwards 0.5s;
            
            @include bp(min-width break(lg)) {
                animation: slideUpMenu 0.7s forwards 0.7s;
            }

            .foot {
                display: block;
            }
        }
    }
    
    .openSubMenu {
        left: 0 !important;
    }

    .hideItems {
        display: none;
    }

    #black {
        &:before {
            color: base-colour(black);
        }
        
        .line {
            background-color: base-colour(black);
        }
    }
    
    #white {
        &:before {
            color: base-colour(white);
        }
        
        .line {
            background-color: base-colour(white);
        }
        
        @include bp(max-width break(lg)) {
            &:before {
                color: base-colour(black);
            }
            
            .line {
                background-color: base-colour(black);
            }
        }
    }
    
    #orange {
        @include bp(min-width break(lg)) {
            &:before {
                color: branding-colour(orange);
            }
            
            .line {
                background-color: branding-colour(orange);
            }
        }
    }
    
    #maroon {
        @include bp(min-width break(lg)) {
            &:before {
                color: branding-colour(maroon);
            }
            
            .line {
                background-color: branding-colour(maroon);
            }
        }
    }
    
    #pink {
        @include bp(min-width break(lg)) {
            &:before {
                color: branding-colour(pink);
            }
            
            .line {
                background-color: branding-colour(pink);
            }
        }
    }
    
    
}