$social: (twitter), (facebook), (google);

// =============================================
// Navigation
// =============================================

.head {
    &__left {
        position: relative;
        z-index: 100;
        
        &--navigation {
            
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
            }
            
            .burger-btn {
                background: #ffffff;
                width: 55px;
                height: 55px;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                position: relative;
                top: 0;
                z-index: 100;
                
                .line {
                    transition: ease 0.4s;
                    background: base-colour(base);
                    display: block;
                    width: 22px;
                    height: 3px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all ease 0.4s;
                    z-index: 100;
                    
                    @include bp(min-width break(lg)) {
                        width: 30px;
                        height: 4px;
                    }
                }
                
                .one {
                    top: calc(50% - 7px);
                    
                    @include bp(min-width break(lg)) {
                        top: calc(50% - 9px);
                    }
                }
                .three {
                    top: calc(50% + 7px);
                    
                    @include bp(min-width break(lg)) {
                        top: calc(50% + 9px);
                    }
                }
            }
            
            .dropdown-nav {
                background: #f4f5f7;
                position: absolute;
                top: 80px;
                left: 0;
                height: 0;
                width: 100vw;
                overflow-y: scroll;
                z-index: -100;
                transition: ease 0.4s;
                
                @include bp(min-width break(lg)) {
                    overflow-y: hidden;
                    top: -26px;
                    left: -64px;
                }
                
                .menu-logo {
                    display: none;
                    position: fixed;
                    top: 32px;
                    left: 64px;
                }
                
                .head__nav {
                    padding: spacing(md);
                    height: 100vh;

                    @include bp(min-width break(sm)) {
                        padding: spacing(lg);
                        height: 50%;
                        position: relative;
                        top: 10%;
                    }
    
                    @include bp(min-width break(lg)) {
                        padding: spacing(md) spacing(lg);
                        top: 25%;
                    }
                    
                    ul {
                        position: relative;
                        top: 40%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        
                        @include bp(min-width break(sm)) {
                            columns: 2;
                            top: 20%;
                        }
                        
                        @include bp(min-width break(lg)) {
                            top: 5%;
                            width: 70%;
                        }
                        
                        @include bp(min-width break(xl)) {
                            width: 50%;
                        }
                        
                        li {
                            @include responsive-font(10vw, 18px, 30px, 30px);
                            line-height: 2em;
                            margin-left: 16px;
                            opacity: 0;
                            transition: ease 0.4s;
                            
                            @include bp(min-width break(lg)) {
                                line-height: 1.7em;
                            }
                            
                            @include bp(min-width break(xxl)) {
                                @include responsive-font(10vw, 32px, 50px, 50px);
                            }
                            
                            a {
                                position: relative;
                                
                                &:before {
                                    content: '';
                                    background-image: url('../images/black.png');
                                    background-size: 100% auto;
                                    background-repeat: no-repeat;
                                    width: 5px;
                                    height: 17px;
                                    display: inline-block;
                                    position: absolute;
                                    top: 50%;
                                    left: -16px;
                                    transform: translateY(-50%);
                                }
                                
                                &:after {
                                    content: '';
                                    display: inline-block;
                                    width: 0;
                                    height: 40%;
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    z-index: -1;
                                    background: #FEB941;
                                    transition: ease 0.4s;
                                }
                                
                                &:hover {
                                    &:after {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
                
                .menu-footer {
                    background: #ffffff;
                    height: 0;
                    transition: ease 0.4s;
                    
                    .foot {
                        padding: spacing(lg) spacing(md);
                        display: none;
                        
                        @include bp(min-width break(sm)) {
                            padding: spacing(lg);
                        }
                        
                        @include bp(min-width break(lg)) {
                            width: 100%;
                            padding: spacing(lg);
                            margin: 0;
                        }
                        
                        @include bp(min-width break(xxl)) {
                            padding: spacing(xl) 190px;
                        }
                        
                        .foot__social,
                        .foot__details,
                        .foot__info {
                            opacity: 0;
                        }
                        
                        .foot__social {}
                        
                        .foot__details {                            
                            @include bp(min-width break(xxl)) {
                                margin-bottom: spacing(lg);
                            }
                            
                            .menu-newsletter {                                
                                @include bp(min-width break(sm)) {
                                    display: block;
                                }
                            }
                            
                            .footer-newsletter {
                                display: none;
                            }
                            
                            &--callback {}
                            &--contact {}
                            
                        }
                        
                        .foot__info {                            
                            &--copyright {
                                @include bp(max-width break(lg)) {
                                    display: none;
                                }
                            }
                            
                            &--links {
                                @include bp(max-width break(lg)) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                
            }
        }
        
        &--logo {}
    }
}

// added to .head__left--navigation on click of burger menu.
.toggle {
        
    .burger-btn {
        .one {
            top: calc(50% - 1px);
            left: calc(25% - 1px);
            transform: rotate(-45deg);
        }
        .two {
            opacity: 0;
        }
        .three {
            top: calc(50% - 1px);
            left: calc(25% - 1px);
            transform: rotate(45deg);
        }
    }
    
    //navigation
    .dropdown-nav {
        height: 100vh;
        
        .menu-logo {
            @include bp(min-width break(lg)) {
                display: block;
            }
        }
        
        .head__nav {
            ul {
                li {
                    animation: fadeIn 0.7s forwards;
                    
                    @include bp(min-width break(lg)) {
                        animation: fadeIn 0.7s forwards 0.4s;
                    }
                }
            }
        }
        
        .menu-footer {
            animation: slideHeight 0.7s forwards 0.4s;

            .foot {
                display: block;
                
                .foot__social { animation: fadeIn 0.7s forwards 0.7s; }
                .foot__details { animation: fadeIn 0.7s forwards 0.8s; }
                .foot__info { animation: fadeIn 0.7s forwards 0.9s; }
            }
        }
    }
    
}