// =============================================
// Breakpoint
// =============================================

@mixin bp($query) {
  $query-string: breakpoint-parse-query($query);

  @media #{$query-string} {
    @content;
  }
}

@function breakpoint-parse-query($query) {
  $length: length($query);
  $mq: 'all ';

  @if $length == 1 {
    @return $mq + 'and (min-width: ' + $query + ')';
  }

  @if (type-of(nth($query, 1)) == 'string' and type-of(nth($query, 2)) == 'number') {
    @return $mq + 'and (' + nth($query, 1) + ': ' + nth($query, 2) + ')';
  }

  @if (type-of(nth($query, 1)) == 'number' and type-of(nth($query, 2)) == 'number') {
    @return $mq + 'and (min-width: ' + nth($query, 1) + ') and (max-width: ' + nth($query, 2) + ' )';
  }

  @each $single-query in $query {
    $mq: $mq + 'and (' + nth($query, 1) + ': ' + nth($query, 2) + ')';
  }
  @return $mq;
}