// =============================================
// Blog (stories) Partial (partial-blog.php)
// =============================================

.blog {
    
    .bg {
        @include bp(min-width break(lg)) {
            width: calc(100% + 176px);
        }
    }
    
    .slidebg {
        top: -100px;
    }
    
    .quote {
        padding-right: spacing();
        margin-bottom: spacing(lg);
        margin-left: 0 !important;
        margin-right: auto !important;
        
        @include bp(min-width break(sm)) {
            margin-bottom: spacing(xl);
        }
        
        @include bp(min-width break(lg)) {
            padding-left: spacing(lg);
            margin-bottom: spacing(md);
        }
        
        .quote-content-container {
            @include bp(min-width break(xl)) {
                padding-left: 120px !important;
                padding-right: 176px !important;
            }
        }    
    }
    
    .meta-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        @include bp(min-width break(lg)) {
            padding: 0 spacing() 0 0;
        }
    
        .tags {}
        
        .post-categories {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            
            li {
                margin-left: spacing(xs);
                
                a {
                    @include responsive-font(1vw, 12px, 14px, 14px);
                }
            }
        }
    }
    
    .blog-archive,
    .blog-category {
        margin-top: spacing(md);
        
        @include bp(min-width break(md)) {
            margin-top: 123px;
        }
        
        .content-container {
            margin-bottom: spacing(md);
            
            @include bp(min-width break(md)) {
                margin-bottom: spacing(lg);
            }
        
            .content-wrapper {
                animation: slideUp 1s forwards;
                
                .title {    
                    @include bp(min-width break(lg)) {
                        width: 100%;
                    }
                }
                
                .content {
                    animation: fadeIn 1s forwards 0.4s;
                }
            }
        }
    }
    
    &__archive {
        position: relative;
        margin-top: spacing(lg);
    
        @include bp(min-width break(lg)) {
            margin-top: 123px;
        }
        
        .content {
            @include responsive-font(1.4vw, 18px, 24px, 24px);
        }
        
        &--built {
            margin-top: spacing(md);
            
            @include bp(min-width break(lg)) {
                margin-top: 200px;
            }
            
            .grid-item {
                flex-grow: 0 !important;
            }
        }
    }
    
    &__single {
        margin-top: spacing(md);
    
        @include bp(min-width break(lg)) {
            margin-top: 123px;
        }
        
        &--intro {
            .title {
                @include bp(min-width break(sm)) {
                    margin-right: spacing(lg);
                }
                
                @include bp(min-width break(xl)) {
                    width: 70%;
                }
            }
        }
        
        &--featured-image {
            position: relative;
            @include bp(min-width break(lg)) {
                margin-top: 190px;
            }
        }
        
        &--postcontent {
            position: relative;
            z-index: 1;

            .grid {
                overflow: visible;
                list-style-type: none;
    
                @include bp(min-width break(lg)) {
                    width: calc(100% + 176px);
                }
                
                .grid-item {
                    overflow: visible;
                    margin-bottom: 0;
                    padding-bottom: spacing(md);
                    
                    @include bp(min-width break(md)) {
                        padding-bottom: spacing(lg);
                    }
                    
                    &:nth-child(1),
                    &:nth-child(2) {
                        background-color: base-colour(grey-light) !important;
                        
                        @include bp(min-width break(lg)) {
                            width: calc(100% + 176px);
                            padding-left: 176px;
                            position: relative;
                            left: -176px;
                        }
                    }
                      
                    &:nth-child(6) {
                        
                        .post-image {
                            &:nth-child(2) {
                                position: relative;
                                z-index: 2;   
                                
                                &:before {
                                    content: '';
                                    background: base-colour(orange);
                                    display: block;
                                    height: 0;
                                    width: calc(250%);
                                    position: absolute;
                                    top: -50px;
                                    left: 0;
                                    z-index: -1;
    
                                    @include bp(min-width break(md)) {
                                        height: 450px;
                                    }
                                    
                                    @include bp(min-width break(lg)) {
                                        height: 600px;
                                    }
                                    
                                    @include bp(min-width break(xl)) {
                                        height: 640px;
                                    }
                                }
                            }
                        }
                    }
                    
                    .content-container {
                        @include bp(min-width break(lg)) {
                            margin-top: 121px;
                        }
                        
                        p {
                            @include responsive-font(1.5vw, 16px, 18px, 18px);
                                
                            @include bp(min-width break(lg)) {
                                width: 70%;
                            }
                            
                            @include bp(min-width break(xxl)) {
                                width: 100%;
                            }
                        }
                        
                        a {
                            border-bottom: 2px solid black;
                        }
                        
                        h3 {
                            margin: spacing(lg) 0 spacing() 0;
                        }
                    }

                    .post-image {                        
                        @include bp(min-width break(md)) {
                            position: relative;
                            left: -176px;
                            max-width: 1100px;
                        }
                        
                        @include bp(min-width break(lg)) {
                            margin-top: 144px;
                        }
                        
                        @include bp(min-width break(xl)) {
                            max-width: 1160px;
                        }
                        
                        @include bp(min-width break(xxl)) {
                            max-width: 70%;
                        }

                        img {
                            width: 100%;  
                        }
                        
                    }
                }
                
                .quote {
                    @include bp(min-width break(lg)) {
                        margin-right: 176px;
                    }
                }
            }
        }
        
        &--stories {
            margin-top: spacing(lg);
            
            @include bp(min-width break(md)) { 
                margin-top: 186px;
            }
        }
    }
}