// =============================================
// Search (search-form.php, search.php)
// =============================================

// Search (search-form.php)
.search-form {
    &__container {
        
    }
    
    &__input {
        
    }
}

// Search Results (search.php)
.search-results {
    &__alert {
        &-warning {
            
        }
    }
    &__form {
        
    }
}