// =============================================
// Colours
// =============================================
$base-colours: (
    base: #080707,
    black: #000,
    white: #fff,
    grey: #f4f5f7,
    grey-medium: #e9e7e7,
    grey-light: #f0f1f1,
    grey-dark: #4A4A4A,
    red: #c10000,
    blue: #003b71
);
$branding-colours: (
    base: #000,
    primary: #003b71,
    light-blue: #8598b5,
    turquoise: #9DDADC,
    maroon: #6b0848,
    dark-blue: #101926,
    orange: #FEB942,
    red: #EB4242,
    grey: #4A4A4A,
    pink: #FF2A93
);
$social-colours: (
    base: #000,
    twitter: #55acee,
    facebook: #32639f,
    google: #d34836,
    pinterest: #cb2028,
    instagram: #517fa4,
    vimeo: #1ab7ea,
    linkedin: #4875b4,
    youtube: #bb0000
);

// =============================================
// Functions for above
// =============================================
@function base-colour($value: 'base') {
    @return map-get($base-colours, $value);
}
@function branding-colour($value: 'base') {
    @return map-get($branding-colours, $value);
}
@function social-colour($value: 'base') {
    @return map-get($social-colours, $value);
}