// =============================================
// Font Size
// =============================================

$font-size: (
    base               : 16px,
    xxs                : 12px,
    xs                 : 14px,
    sm                 : 16px,
    md                 : 18px,
    lg                 : 24px,
    xl                 : 74px,
    xxl                : 96px
);

// @include responsive-font(1vw, 8px, 14px, 14px);
// @include responsive-font(1.5vw, 8px, 16px, 16px);
// @include responsive-font(1.5vw, 16px, 18px, 18px);
// @include responsive-font(1.5vw, 16px, 20px, 20px);
// @include responsive-font(1.4vw, 18px, 24px, 24px);
// @include responsive-font(1.4vw, 20px, 30px, 30px);
// @include responsive-font(5vw, 30px, 50px, 50px);
// @include responsive-font(5vw, 32px, 56px, 56px);
// @include responsive-font(3.4vw, 42px, 60px, 60px);
// @include responsive-font(5vw, 38px, 74px, 74px);
// @include responsive-font(5vw, 42px, 96px, 96px);


@function fontsize($value: 'base') {
    @return map-get($font-size, $value);
}


/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback),
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive) == 'vh', 'height', 'width');
    $min-breakpoint: $min / $responsive-unitless * 100;

    @media (max-#{$dimension}: #{$min-breakpoint}) {
        font-size: $min;
    }

    @if $max {
        $max-breakpoint: $max / $responsive-unitless * 100;

        @media (min-#{$dimension}: #{$max-breakpoint}) {
            font-size: $max;
        }
    }

    @if $fallback {
        font-size: $fallback;
    }

    font-size: $responsive;
}