// =============================================
// Spacing
// =============================================
$spacing: (
		base: 16px,
		xs:   8px,
		sm:   10px,
		md:	  32px,
		lg:   64px,
		xl:   128px,
        xxl:  160px
);

@function spacing($value: 'base') {
	@return map-get($spacing, $value);
}