$button-colours: (
    base: base-colour(),
    hover: lighten( base-colour(), 5%),
    active: lighten( base-colour(), 10%),
    focus: lighten( base-colour(), 5%)
);

@function button-colour($value: 'base') { @return map-get($button-colours, $value); }

$button_base-padding: 10px 30px;
$button_base-border-radius: null;
$button_base-background: grey();
$button_base-font-size: fontsize();
$button_base-weight: null;
$button_base-background: button-colour();
//Not needed unless there's a special colour
$button_base-background--hover: button-colour(hover);
$button_base-background--active: button-colour(active);
$button_base-background--focus: button-colour(focus);


// =============================================
// Base Button
// =============================================

@mixin base-button() {
    padding: $button_base-padding;
    border-radius: $button_base-border-radius;
    font:{
        size: $button_base-font-size;
        weight: $button_base-weight;
    }
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    width: auto;
    border: 1px solid transparent;
    background-color: $button_base-background;
    color: base-colour(white);
    text-transform: none;
    display: inline-block;

    @include bp(max-width break(lg)){
        font-size:fontsize(xs);
    }

    &:hover {
        background-color: $button_base-background--hover;
    }

    &:active {
        background-color: $button_base-background--active;
    }

    &:focus{
        background-color: $button_base-background--focus;
    }
}

// =============================================
// Disabled Buttons
// =============================================

.disabled,
[disabled] {
    opacity: .5;
    cursor: default;
    pointer-events: none;
}


// =============================================
// Reset Button
// =============================================

%reset-button {
    background: transparent;
    border: 0;
    padding: 0;
}


// =============================================
// Button Small
// =============================================

@mixin button-sm() {
    font-size: fontsize(sm);
    padding: 4px 12px;
}


// =============================================
// Button Large
// =============================================

@mixin button-lg() {
    font-size: fontsize(md);
    padding: 20px 70px;
}


// =============================================
// Text Buttons - text links
// =============================================

.text-button,
%text-button {
    @extend %reset-button;
    line-height: 1.2;
    color: inherit;
    font-weight: 500;

    &:hover {
        text-decoration: underline;
    }
}


// =============================================
// Actions
// =============================================

.action {
    &:not(.search), &:not(.remove) {
        @include base-button;
    }

    &.submit {
        //@include button-sm;
        background-color: branding-colour(light-blue);
    }

    &.checkout,
    &.tocart {
        //@include button-lg;
    }
}


// =============================================
// Search Button
// =============================================

.action.search {
    @extend %reset-button;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    span{
        @extend %hidden;
    }
}


// =============================================
// General
// =============================================

.btn,
.button,
input[type="button"] {
    font-size: fontsize(sm) !important;
    font-weight: 500 !important;
    padding: 15px 40px;
    cursor: pointer;
    transition: ease 0.4s;
    border: 0;
    
    &:focus {
        outline: none;
    }
    
    &:hover {
        background-color: black;
    }
}