form {
    
    label {
        @include responsive-font(1.5vw, 16px, 18px, 18px);
        font-weight: 300 !important;
    }
    
    .nf-field-label {
        padding: 0 !important;
        margin-bottom: 0 !important;
    }
    
    // checkbox wrap
    .checkbox-wrap {
        margin-top: 90px;
        
        .nf-field-element {
            margin-right: spacing();
        }
        
        .nf-field-label {
            label {                
                @include bp(max-width break(xl)) {
                    line-height: 1.5em;
                }
            }
        }
    }
    
    // checkbox list
    .listcheckbox-wrap {
        @include bp(max-width break(xl)) {
            margin-top: spacing() !important;
        }
        
        .nf-field-label {
            label {
            }
        }
    
        .nf-field-element {
            ul {
                li {
                    input[type="checkbox"] {
                        // display: none;
                        margin-top: 8px;
                    }
    
                    label {
                        // &:before {
                        //     content: '';
                        //     height: 10px;
                        //     width: 10px;
                        //     border: 1px solid base-colour(white);
                        //     display: inline-block;
                        //     position: relative;
                        //     left: -20px;
                        // }
                    }
                }
            }
        }
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"], {
        background: transparent !important;
        border: 0;
        padding: 5px;
        
        &:focus {
            outline: 0;
        }
    }
}