// =============================================
// Box sizing
// =============================================

*,
*::after,
*::before {
    box-sizing: border-box;
}
// =============================================
// HTML
// =============================================

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
// =============================================
// Body
// =============================================

body {
    min-width: 320px;
    // line-height: $type_paragraph-lineheight;
}

html, body {

}

/**
 * Remove the gap between media elements and the bottom of their containers.
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
// =============================================
// Set all images to be scaleable
// =============================================

img {
    display: block;
    height: auto;
    max-width: 100%;
}