// =============================================
// Global Layouts
// =============================================

.page__wrapper {
    overflow: hidden;
    padding-top: 100px; // push content down for mobile + tablets due to fixed header.

    
    @include bp(min-width break(sm)) {
        padding-top: 125px;
    }
    
    @include bp(min-width break(lg)) {
        padding-top: 0;
    }
    
    // left gutter on desktop view - all pages.
    @include bp(min-width break(lg)) {
        padding-left: 174px;
    }
    
}

// targets all wrappers as flexboxes
.flex-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    
    @include bp(min-width break(md)) {
        flex-direction: row;
    }
}

// responsive padding for certain sections
.padding {
    padding: 0 spacing();
    
    @include bp(min-width break(sm)) {
        margin-left: 64px;
        padding: 0;
    }
    
    @include bp(min-width break(xl)) {
        padding-left: 116px !important;
        margin-left: 0;
    }
    
    @include bp(min-width break(xxl)) {
        margin-left: 64px !important;
    }
}

