// =============================================
// Home (home.php)
// =============================================

.home {
    background-color: white;
    
    &__hero {
        &--title {
            @include responsive-font(5vw, 42px, 96px, 96px);
            color: rgba(0, 0, 0, 0);
            padding-bottom: 10px;
            margin: 0 0 3px 0 !important;
            display: inline-block;
            width: auto;
            position: relative;
            overflow: hidden;
            animation: textdelay 0.2s forwards 1.5s;
            
            @include bp(min-width break(xs)) {
                margin-right: 20% !important;
            }
            
            &:before {
                content: '';
                width: 0;
                height: 100%;
                background: #eee;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                animation: slidetextbox 1.5s forwards 0.9s;
            }
        }
        
        // hero title line two delay.
        .two {
            animation-delay: 1.2s;
            margin-bottom: 24px !important;
            
            &:before {
                animation-delay: 0.7s;
            }
        }
        
        &--intro {
            margin-bottom: spacing(sm);
            width: 100% !important;

            p {
                @include responsive-font(1.4vw, 20px, 24px, 24px);

                @include bp(min-width break(sm)) {
                    max-width: 662px;
                }
            }
        }
        
        &--certs {
            margin: spacing(md) 0 spacing(md) 0;

            @include bp(min-width break(lg)) {
                margin-right: 56px;
            }
                
            .grid {
                flex-direction: row;
                
                @include bp(min-width break(lg)) {
                    justify-content: flex-end;
                }
                
                .grid-item {
                    margin-right: spacing();
                    max-width: 50px;
                    
                    @include bp(min-width break(md)) {
                        margin-bottom: 0;
                    }
                    @include bp(min-width break(lg)) {
                        max-width: 80px;
                        margin-right: 0;
                        margin-left: spacing();
                    }
                    
                    .cert-icon {
                        opacity: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
    
    &__featured-image {
        @include bp(min-width break(xl)) {
            margin-bottom: 86px;
        }
        
        .bg {
            width: calc(100% + 176px);
        }
    }
    
    &__casestudies {
        position: relative;
        
        &:before {
            content: '';
            display: block;
            background: base-colour(grey-light);
            position: absolute;
            width: 100%;
            height: 100%;
            
            @include bp(min-width break(lg)) {
                left: -176px;
                width: calc(100% + 176px);
                height: 30%;
            }
            @include bp(min-width break(xl)) {
                height: 900px;
            }
        }
        
        &--intro {
            position: relative;
            z-index: 1;
            
            .content-wrapper {
                margin: 0;
                max-width: 900px;
                
                .content {
                    @include responsive-font(1.5vw, 16px, 18px, 18px);
                    margin-bottom: 24px;
                }
            }
        }
        
        &--built {
            margin-top: spacing(lg);

            @include bp(min-width break(xl)) {
                margin-top: 355px;
            }
            
            &:before {
                content: '';
                display: block;
                background: base-colour(grey-light);
                position: absolute;
                width: 100%;
                height: 300px;
                
                @include bp(min-width break(lg)) {
                    margin-top: -100px;
                    left: -176px;
                    width: calc(100% + 176px);
                }
            }
            
            .posts {                
                .title-wrapper {
                    background: base-colour(grey-light);
                    margin-bottom: 0;
                }
                
                .more-link {
                    margin-top: 40px;
                    margin-left: spacing();
                    
                    @include bp(min-width break(sm)) { 
                        margin-left: spacing(lg);
                        flex-grow: 1;
                    }
                    
                    @include bp(min-width break(lg)) {
                        margin-top: 80px;
                    }
                    @include bp(min-width break(xl)) {
                        margin-left: 180px;
                    }
                }
                
                .grid {
                    @include bp(min-width break(md)) {
                        margin-top: spacing() !important;
                    }
                }
            }
        }
    }
    
    &__services {}
    
    &__customers {
        background: base-colour(grey-light);
        padding-bottom: spacing(lg);
        margin-top: spacing(lg);
        margin-bottom: spacing(lg);
        position: relative;
        
        @include bp(min-width break(lg)) {
            padding-top: spacing(lg);
            margin-top: 144px;
            width: calc(100% + 176px);
            left: -176px;
        }
    
        .wrapper {
            padding-top: spacing(lg) !important;
            padding-bottom: spacing(lg);
            width: 100%;
            position: relative;
            z-index: 1;
            
            @include bp(min-width break(md)) {
                padding-top: spacing(xl) !important;
            }
            
            @include bp(min-width break(lg)) {
                padding-left: spacing(lg);
                margin-left: 116px;
            }
            
            @include bp(min-width break(xl)) {
                padding-left: 180px !important;
            }
        }
    
        .grid {
            background: transparent;
            width: 100%;
            max-width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: spacing(md);
                
            @include bp(min-width break(sm)) { 
                width: 80%;
                margin-top: spacing(md);
            }
            
            @include bp(min-width break(lg)) {
                margin-top: spacing(xl);
                margin-left: -64px;
            }

            @include bp(min-width break(xl)) {
                width: 75%;
            }
            
            @include bp(min-width break(xxl)) {
                width: 70%;
                margin-left: -110px;
            }
            
            .grid-item {
                margin-bottom: spacing(md);
                width: 50%;
                flex-grow: 0;
                
                @include bp(min-width break(sm)) {
                    width: calc(33.333%);
                }
                
                @include bp(min-width break(lg)) {
                    margin-bottom: spacing(lg);
                    width: 20%;
                }
                
                .customer-logo {
                    width: 100%;
                }
            }
        }
    }
    
    &__stories {
        @include bp(min-width break(md)) {
            margin-top: spacing(xl);
        }
        
        @include bp(min-width break(lg)) {
            margin-top: 178px;
        }
    }
}