// =============================================
// Information pages (terms, privacy...)
// =============================================

.info {
    margin-top: spacing(md);
    
    @include bp(min-width break(md)) {
        margin-top: 123px;
    }
    
    &__intro {
        margin-bottom: spacing(md);
        
        .content-wrapper {
            width: 100%;
        }
    }
    
    &__items {
        &--content {
            margin-bottom: spacing(md);
            
            h2 {
                @include responsive-font(5vw, 30px, 50px, 50px);
            }
            
            h3 {
                @include responsive-font(1.4vw, 20px, 30px, 30px);
            }
            
            .section-title {
                margin-bottom: spacing();
            }
        }
    }
}