// =============================================
// People (ourpeople.php)
// =============================================

.people {
    margin-top: spacing(md);
    
    @include bp(min-width break(md)) {
        margin-top: 123px;
    }
    
    .bg {
        @include bp(min-width break(lg)) {
            width: calc(100% + 176px);
        }
    }

    .more-link {
        margin-top: 61px;
    }
    
    &__intro {
        
        .content {
            @include responsive-font(1.4vw, 18px, 24px, 24px);
        }
    }
    
    &__team {
        margin-top: 70px;
        
        .name {
            margin-bottom: 20px;
        }
    }
    
    &__join {
        margin-top: 70px;

        @include bp(min-width break(lg)) {
            margin-top: 200px;
            margin-bottom: 178px;
        }
        
        .content {
            @include responsive-font(1.4vw, 18px, 24px, 24px);
        }
    }
    
    &__stories {
        margin-top: spacing(lg);
        
        @include bp(min-width break(sm)) { 
            margin-top: spacing(xl);
        }
    }
}