// =============================================
// Services (pages)
// =============================================

.services {
    margin-top: spacing(md);
    
    @include bp(min-width break(md)) {
        margin-top: 123px;
    }
    
    &__single {
        &--intro {
            margin-bottom: 24px;
            
            @include bp(min-width break(md)) { 
                margin-bottom: 98px;
            }
            
            .content-wrapper {
                animation: slideUp 1s forwards;
                
                .content {
                    @include responsive-font(1.4vw, 18px, 24px, 24px);
                    animation: fadeIn 1s forwards 0.6s !important;
                }
            }
        }
        
        &--featured-image {
            
            .bg {}
            
            .image {
                position: relative;
                top: 0 !important;
                z-index: 1;
            }
        }
        
        &--main {
            position: relative;
            z-index: -10;
        }
        
        .one, .two {
            position: relative;
            z-index: 1;
            
            .content-container {
                @include bp(min-width break(md)) {
                    width: 60%;
                }
                
                .content {
                    @include responsive-font(1.5vw, 14px, 16px, 16px);
                    
                    @include bp(min-width break(lg)) {
                        margin-left: 94px;
                    }
                }
                
                .title {
                    @include responsive-font(3.4vw, 42px, 60px, 60px);
                    width: 100% !important;
                }
            }
        }
        
        .one {
            margin-top: spacing(lg);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            position: relative;
            
            @include bp(min-width break(md)) {
                flex-direction: row;
            }
            
            @include bp(min-width break(lg)) {
                margin-top: 173px;
                padding-bottom: spacing(md);
                margin-bottom: spacing(lg);
            }

            .content-container {                
                @include bp(min-width break(lg)) {
                    margin-left: 0;    
                }
            }
            
            .services-image {
                opacity: 0;
                width: 100%;

                @include bp(min-width break(md)) {
                    flex-grow: 1;
                }
                
                @include bp(min-width break(lg)) {
                    width: 30%;
                    margin-right: 60px;
                }
                
                img {
                    width: 100%;
                }
            }
        }
        
        .two {
            background-color: base-colour(white);
            padding-top: spacing(lg);
            margin-top: spacing(md);
            top: -32px;

            @include bp(min-width break(lg)) {
                padding-top: spacing(xl);
                padding-bottom: spacing(lg);
                margin-top: spacing(lg);
                width: calc(100% + 176px);
                left: -176px;
            }
            
            .content-container {                
                @include bp(min-width break(lg)) {
                    margin-left: 176px;
                }
            }
            
            .services-image {
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0;
                margin-top: spacing(md);
                
                @include bp(min-width break(xl)) {
                    margin-top: 70px;
                }
            }
            
            .desktop {
                background-size: 100% auto;
                max-width: 100%;
                height: auto;
                
                @include bp(max-width break(sm)) {
                    display: none;
                }
                
                @include bp(min-width break(sm)) {
                    margin-right: spacing(lg);
                    margin-left: spacing(lg);
                }

                @include bp(min-width break(lg)) {
                    margin-right: 60px;
                    margin-left: 176px;
                }
                
                @include bp(min-width break(xl)) { 
                    margin-right: 176px;
                }
                
                @include bp(min-width break(xxl)) { 
                    padding: 0 116px;
                    margin: spacing(lg) 176px 0 spacing(lg);
                }
                
                img {
                    width: 100%;
                }
            }
            
            .mobile {
                margin-left: spacing();
                width: 100%;
                
                @include bp(min-width break(sm)) {
                    display: none;
                }
            }
        }
        
        .quote {
            background: base-colour(white);
            
            .quote-content-container {
                @include bp(min-width break(xl)) {
                    padding-left: 176px !important;
                }
            }    
        }
        
        &--contact {}
    }    
}

.services-partial {
    padding-top: spacing(lg);
    margin-top: spacing(lg);
    margin-bottom: spacing(lg);
    position: relative;
    z-index: 1;
    
    @include bp(min-width break(md)) {
        padding-top: spacing(xl);
        margin-bottom: spacing(xl);
    }
    
    @include bp(min-width break(lg)) {
        margin-top: 178px;
    }
    
    .grey-bg {
        background: base-colour(grey-light);
        width: calc(100% + 176px);
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;

        @include bp(min-width break(lg)) {
            @include bp(max-width break(xl)) {
                height: 30%;
            }
        }
        @include bp(min-width break(lg)) {
            left: -176px;
        }
    }
    
    .content-container {
        width: 100% !important;

        @include bp(min-width break(lg)) {
            margin-bottom: 80px;
            width: calc(100% - 176px) !important;
        }
        
        .content-wrapper {
            .title {
                @include bp(min-width break(lg)) {
                    width: 110% !important;
                }
            }
            
            .wrapper {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                position: relative;
                justify-content: flex-start;
                
                @include bp(min-width break(md)) {
                    flex-direction: row;
                    width: 100%;
                }
                
                .est {                    
                    @include bp(min-width break(md)) {
                        width: 20%;
                    }
                    
                    span {
                        display: inline-block;
                    }
                }
                
                .content {
                    @include responsive-font(1.7vw, 18px, 18px, 18px);
                    
                    @include bp(min-width break(md)) {
                        width: 70%;
                        max-width: 636px;
                    }
                }
            }
        }
    }
    
    .pages {
        margin-top: 20px;
        
        @include bp(min-width break(lg)) {
            margin-top: 80px;
        }
        
        .grid {
            margin-bottom: spacing(md);
            
            @include bp(min-width break(lg)) {
                margin-bottom: 180px;
            }
            
            .item {
                .more-link {
                    @include responsive-font(1.5vw, 8px, 16px, 16px);
                }
                
                .excerpt {
                    @include responsive-font(1.5vw, 8px, 16px, 16px);
                    padding-right: spacing(md);
                    margin: 17px 0 31px 0;
                }
            }
        }
    }
}