// ===========================================================================
// Case Studies - was originally named 'casestudies', hence the class name.
// ===========================================================================

.casestudies {
    margin-top: spacing(md);
    
    @include bp(min-width break(md)) {
        margin-top: 123px;
    }
    
    .bg {
        @include bp(min-width break(lg)) {
            width: calc(100% + 176px);
        }
    }
    
    // archive list
    &__archive {
        position: relative;
        
        &--intro {
            .title {                
                @include bp(min-width break(xxl)) {
                    width: 90% !important;
                }
                
                @include bp(min-width break(xxxl)) {
                    width: 70% !important;
                }
            }

            .content {
                @include responsive-font(1.4vw, 18px, 24px, 24px);
            }
        }
        
        &--built {
            margin-top: spacing(md);

            @include bp(min-width break(lg)) {
                margin-top: 90px;
            }
            
            article {
                width: 100%;
                flex-grow: 0 !important;
            }
        }
    }
    
    // single post
    &__single {
        .gallery {
            list-style-type: none;
            justify-content: flex-start;
            
            .grid-item {
                flex-grow: 0 !important;
                
                @include bp(min-width break(md)) {
                    height: 500px !important;
                    width: 33%;
                }
                
                @include bp(min-width break(xl)) {
                    height: 550px !important;
                }
                
                @include bp(min-width break(xxl)) {
                    height: 700px !important;
                    width: 30%;
                }
            }
        }
        
        &--intro {
            margin-bottom: spacing(sm);
            
            @include bp(min-width break(xl)) {
                margin-bottom: 259px;
            }

            .customer-info {
                margin-top: spacing(md);
                flex-direction: row;
                overflow: visible;
                
                .grid-item {
                    list-style-type: none;
                    padding-right: spacing();
                    padding-bottom: spacing(md);
                    margin-top: 0;
                    width: 50%;
                    overflow: visible;
                    // opacity: 0;
                    word-wrap: break-word;
                    
                    @include bp(min-width break(md)) { 
                        padding-bottom: 0;
                    }
                    
                    @include bp(min-width break(md)) {
                        width: 25%;
                    }
                    
                    &:before {
                        display: none;
                    }
                    
                    &:nth-child(1) { animation-delay: 0.4s; }
                    &:nth-child(2) { animation-delay: 0.6s; }
                    &:nth-child(3) { animation-delay: 0.8s; }
                    &:nth-child(4) { animation-delay: 1s; }
                    
                    p {
                        line-height: 1.5em;
                        margin: 0;
                        padding: 0;
                    }
                    
                    .label {
                        @include responsive-font(1.5vw, 8px, 16px, 16px);
                        margin-bottom: 4px;
                    }
                    
                    .input {
                        @include responsive-font(1.4vw, 14px, 24px, 24px);
                        position: relative;
                        
                        @include bp(min-width break(md)) {
                            padding-right: spacing();
                        }
                        
                        &:before {
                            content: ':';
                            font-weight: 600;
                            display: inline-block;
                            position: absolute;
                            top: 0;
                            left: -8px;
                        }
                    }
                }
            }    
        }

        &--featured-image {
            margin-bottom: spacing();
            
            @include bp(min-width break(xl)) {
                margin-bottom: 259px;
            }
        }

        &--details {
            position: relative;
            z-index: 1;

            .bg {
                top: -50px;
            }
            
            .content-container {
                @include bp(min-width break(md)) {
                    margin-top: 169px;
                }
                
                .content {
                    @include responsive-font(1.5vw, 16px, 18px, 18px);
                }
            }
            
            .rates {
                background-color: transparent;
                padding: 0 spacing();
                margin-top: spacing() !important;
                margin-bottom: spacing(md) !important;
                flex-direction: row;
                
                @include bp(min-width break(sm)) {
                    margin-left: 64px;
                    padding: 0;
                }
                
                @include bp(min-width break(lg)) {
                    margin-top: 80px !important;
                    margin-bottom: 90px !important;
                }
                
                .grid-item {
                    width: 33.333%;

                    .label {
                        @include responsive-font(1.5vw, 8px, 16px, 16px);
                    }
                    
                    .input {
                        @include responsive-font(5vw, 24px, 96px, 96px);
                        line-height: 1em;
                    }
                }
            }
            
            .gallery {
                margin-bottom: 50px;
                
                @include bp(min-width break(xl)) {
                    margin-bottom: 168px;
                }
                
                @include bp(min-width break(lg)) {
                    width: 100%;
                    position: relative;
                    left: -175px;
                }
                
                .grid-item {
                    height: 250px;
                    max-width: 100%;
                    flex-grow: 1;
                    // opacity: 0;
                    overflow: visible !important;
                    
                    &:before {
                        display: none;
                    }
                    
                    .image {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin-bottom: 5px;
                        height: 100%;
                    }
                }
            }
        }
        
        &--main {            
            .content-container{
                .content-wrapper {
                    .title {
                        margin-bottom: spacing();
                    }
                    .content {
                        @include responsive-font(1.5vw, 16px, 18px, 18px);
                        
                        @include bp(min-width break(xxl)) {
                            width: 60%;
                        }
                    }
                }
            }
            
            .gallery {
                padding: 0;
                margin: 0;
                margin-top: 16px;
                list-style-type: none;
                position: relative;
                z-index: 1;
                overflow: visible !important;
                
                .item {
                    &:before {
                        display: none;
                    }
                }

                .laptop {
                    padding: 0;
                    margin-top: 64px;
                    width: calc(100%);
                    position: relative;
                    
                    @include bp(min-width break(sm)) { 
                        margin-top: 128px;
                    }
                    
                    @include bp(min-width break(md)) {
                        padding: 0 58px 45px 58px;
                    }
                    
                    @include bp(min-width break(xl)) {
                        padding-right: 96px;
                    }
                    
                    @include bp(min-width break(xxl)) {
                        margin-top: 256px;
                    }
                    
                    img {
                        width: calc(100%);
                        position: relative;
                        top: -54px;

                        @include bp(min-width break(xxl)) {
                            top: -150px;
                        }
                    }
                }
                
                .video {
                    background: white;
                    padding: 10px;
                    border-radius: 2px;
                    height: 300px;
                    position: relative;
                    margin: spacing(md) 0 spacing(lg) 0;
                    top: -64px;
                    
                    @include bp(min-width break(sm)) {
                        margin-left: 0;
                        margin-right: 0;
                    }
                    
                    @include bp(min-width break(md)) {
                        width: 80% !important;
                        margin-left: auto;
                        margin-right: 0;
                        height: 350px;
                    }
                    
                    @include bp(min-width break(lg)) {
                        width: 60% !important;
                        height: 400px;
                        margin-left: 40%;
                    }

                    @include bp(min-width break(xl)) {
                        top: -164px;
                        height: 290px;
                        width: 40% !important;
                    }
                    
                    @include bp(min-width break(xxl)) {
                        height: 550px;
                    }

                    iframe {
                        height: 100%;
                        max-height: 100%;
                        width: 100%;
                        max-width: 100% !important;
                    }
                }
            }
            
            .screenshot {
                padding: spacing(lg) spacing();
                width: 100%;
                position: relative;
                
                @include bp(min-width break(md)) {
                    padding: spacing(xl) spacing(lg);
                }
                
                @include bp(min-width break(lg)) {
                    padding-top: 210px;
                    width: calc(100% + 176px);
                    position: relative;
                    top: -100px;
                    z-index: -1;
                }
                
                @include bp(min-width break(xl)) {
                    padding-right: 115px;
                }
                
                img {
                    position: relative;

                    @include bp(min-width break(lg)) {
                        width: calc(100% - 176px);
                        position: relative;
                        left: 176px;
                    }
                    
                    @include bp(min-width break(xxl)) {
                        width: 60%;
                        left: 20%;
                        transform: translateX(-50%);
                    }
                }
            }
            
            .screenshot-one {
                position: relative;
                
                @include bp(min-width break(lg)) { 
                    left: -176px;
                }
                
                img {
                    box-shadow: 0 0 25px 0 #333;
                }
            }
            
            .screenshot-two {                
                @include bp(min-width break(lg)) { 
                    left: -176px;
                    top: -200px;
                    padding-bottom: 0;
                }
            }
            
            .extra-image-one {
                position: relative;
                padding-bottom: spacing(lg);
                
                @include bp(min-width break(md)) { 
                    max-width: 75%;
                    top: -50px;
                }
                
                @include bp(min-width break(lg)) { 
                    margin-bottom: -100px;
                    top: -150px;
                    left: -176px;
                }
                
                img {
                    opacity: 0;
                }
            }

            .mobile-grid {
                background-color: transparent;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                position: relative;
                z-index: 1;
                padding: 0 spacing();
                margin-top: -64px;
                
                @include bp(min-width break(md)) {
                    margin-top: spacing(xl);
                    margin-left: 73px;
                    padding: 0;
                }

                .mobile {
                    width: 100%;
                    
                    @include bp(max-width break(sm)) {
                        margin-top: spacing(md);
                        order: 2;
                    }
                    
                    @include bp(max-width break(sm)) {
                        margin-bottom: spacing(md);
                    }
                    
                    @include bp(min-width break(sm)) {
                        width: 40%;
                    }
                    
                    @include bp(min-width break(xl)) {
                        padding: 0;
                        width: 25%;
                    }
                    
                    @include bp(min-width break(xxl)) {
                        margin-right: 90px;
                        width: 20%;
                    }
                    
                    img {
                        max-height: 100%;
                        width: 100%;
                    }
                }
                
                .intro-rel {
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                    
                    @include bp(max-width break(sm)) {
                        order: 1;
                    }
                    
                    @include bp(min-width break(sm)) {
                        padding-left: spacing(md);
                        width: 60%;
                    }
                    
                    @include bp(min-width break(md)) {
                        padding-left: spacing(lg);
                        width: 50%;
                    }
                    
                    .wrapper {
                        position: absolute;

                        .title {
                            margin-bottom: 24px;
                        }
                        
                        .content {
                            @include responsive-font(1.5vw, 16px, 18px, 18px);
                            
                            @include bp(min-width break(xxl)) {
                                width: 60%;
                            }
                        }
                    }
                    
                }
            }
            
            .mobile-screenshots {
                background: base-colour(grey-medium);
                padding: spacing(lg) spacing();
                width: 100%;
                position: relative;
                top: -55px;
                z-index: 0;

                @include bp(min-width break(sm)) {
                    padding: spacing(xl) spacing() spacing(lg) spacing();
                }
                
                @include bp(min-width break(lg)) {
                    padding: 264px 116px 138px 250px;
                    width: calc(100% + 175px);
                    top: -100px;
                    left: -175px;
                }
                
                @include bp(min-width break(xl)) {
                    padding: 264px 312px 138px 250px;
                }
                
                @include bp(min-width break(xxl)) {
                    padding-top: 400px;
                }
                
                .gallery {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: stretch;
                    overflow: visible;
                    background-color: transparent;
                    
                    @include bp(min-width break(sm)) {
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 0;
                    }

                    .grid-item {
                        margin-right: 42px;
                        margin-bottom: 32px;
                        height: 720px;
                        flex-grow: 1;

                        @include bp(min-width break(sm)) {
                            margin-bottom: 0;
                            height: 400px;
                            width: calc(30%);
                            margin-right: 0;
                        }
             
                        @include bp(min-width break(md)) {
                            margin-bottom: 82px;
                        }
                        
                        @include bp(min-width break(xxl)) {
                            height: 1100px !important;
                        }

                        .image {
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            height: 100%;
                        }

                    }
                }
            }
        }
        
        &--design {
            margin-top: spacing(md);
            margin-bottom: spacing(sm);
            
            @include bp(min-width break(sm)) {
                margin-top: spacing(lg);
                margin-bottom: 110px;
            }
            
            @include bp(min-width break(lg)) {
                margin-top: spacing(xl);
            }
            
            .title-wrapper {
                margin-bottom: spacing(sm);
                
                @include bp(min-width break(sm)) {
                    margin-bottom: spacing(md);
                }
            }
            
            .info-graphics {
                margin-bottom: spacing(lg);
                
                @include bp(min-width break(sm)) {
                    margin-bottom: 110px;
                } 
                
                .gallery {
                    .grid-item {
                        height: 400px;
                        margin-bottom: 0;
                        flex-grow: 0;
                        
                        @include bp(min-width break(xs)) { 
                            height: 550px;
                        }
                        
                        @include bp(min-width break(sm)) { 
                            height: 400px;
                        }
                        
                        @include bp(min-width break(md)) {
                            height: 350px !important;
                        }
                        
                        @include bp(min-width break(md)) { 
                            width: 33.333%;
                        }
                        
                        @include bp(min-width break(xl)) {
                            height: 500px !important;
                        }
                        
                        @include bp(min-width break(xxl)) { 
                            height: 700px !important;
                        }
                        
                        @include bp(min-width break(xxxl)) { 
                            height: 950px !important;
                        }

                        .image {
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            height: 100%;
                        }
                    }
                }
            }
        }
        
        &--extraimage {
            position: relative;
            padding-bottom: spacing(lg);
            margin-bottom: 50px;
            max-width: 90%;
            
            @include bp(min-width break(md)) { 
                max-width: 75%;
            }
            
            @include bp(min-width break(lg)) { 
                left: -176px;
            }
            
            .extrabg {
                top: 20px;
                left: 0;
                width: calc(100% + 176px);
                
                @include bp(min-width break(md)) { 
                    top: 50px;
                    width: calc(150% + 176px);
                }
            }
            
            .item {
                list-style-type: none;
                
                .extra-image-two {                    
                    img {
                        width: 100%;
                    }
                }
            }
        }
        
        &--contact {
            margin-top: spacing(lg);
            
            @include bp(min-width break(md)) { 
                margin-top: 128px;
            }
        }
    }
}