.contact {
    &__intro {
        margin-top: spacing();

        @include bp(min-width break(lg)) {
            margin-top: 123px;
        }
        
        .content {
            @include responsive-font(1.4vw, 18px, 24px, 24px);
            
            @include bp(max-width break(lg)) {
                margin-right: spacing();
            }
        }
    }
    
    &__featured-image {
        position: relative;
        margin-top: spacing(md);
        
        @include bp(min-width break(lg)) {
            margin-top: 190px;
        }
    }
    
    .start {
        margin-bottom: 0;
    }
    
    &__contacts {
        position: relative;
        margin-top: 128px;
        
        .content-container {
            color: base-colour(white);
            
            .content {
                @include responsive-font(1.1vw, 16px, 18px, 18px);
                
                @include bp(min-width break(xl)) {
                    margin-left: 172px;
                }
            }
        }
        
        .grid {
            margin-top: spacing(md);
            
            @include bp(min-width break(lg)) {
                margin-top: 80px;
            }
        }
        
        .bg {
            top: -250px;
        }
    }
    
    &__stories {
        margin-top: spacing(lg);
    }
}

.people {
    margin-top: spacing(md);
    
    @include bp(min-width break(md)) {
        margin-top: 123px;
    }
    
    @include bp(min-width break(xxl)) {
        margin-top: 178px;
    }


    .more-link {
        margin-top: 61px;
    }
    
    &__intro {
        .greybg {
            width: 100% !important;
            height: 0;
            left: 0;
            z-index: -1;
        }
    }
    
    &__team {
        margin-top: 70px;
        
        .name {
            margin-bottom: 20px;
        }
    }
    
    &__join {
        margin-top: 70px;

        @include bp(min-width break(lg)) {
            margin-top: 200px;
        }
    }
}

// =============================================
// Contact Partial
// =============================================

.contact-partial {
    @include responsive-font(1.5vw, 16px, 18px, 18px);
    position: relative;
    z-index: 1;
    margin-top: spacing(lg);
    margin-bottom: spacing(lg);
    
    @include bp(min-width break(md)) {
        margin-top: spacing(xl);
        margin-bottom: spacing(xl);
    }

    .content-wrapper {
        .content {
            margin: 0;
            display: block;
            width: 100%;
        }
    }
    
    .link {
        text-decoration: none;
        border: 0;
    }

    .callback {
        display: inline-block;
        margin-top: spacing(md);
        
        @include bp(min-width break(lg)) {
            margin-top: 54px;
        }
    }
}

// =========================================================================
// Start our Relationship Partial - Relationships archive and contact
// =========================================================================

.start {
    color: base-colour(white);
    font-weight: 300;
    background: base-colour(grey-dark);
    padding-top: spacing(lg);
    padding-bottom: spacing(lg);
    margin-bottom: spacing(lg);
    display: inline-block;
    width: 100%;
    position: relative;
    left: 0;
    z-index: 1;

    @include bp(min-width break(sm)) {
        margin-top: spacing(md);
    }
    
    @include bp(min-width break(md)) {
        padding-top: spacing(xl);
        padding-bottom: spacing(xl);
        margin-bottom: spacing(xl);
    }
    
    @include bp(min-width break(lg)) {
        padding-top: spacing(xxl);
        padding-bottom: 216px;
        left: -175px;
    }
        
    .start-partial {
        @include bp(min-width break(sm)) {
            margin-right: 64px;
        }
        
        @include bp(min-width break(lg)) {
            padding-left: 64px;
            margin-left: 176px;
        }
        
        @include bp(min-width break(xxl)) {
            padding-left: 300px !important;
        }
        
        .title,
        .intro {
            @include bp(min-width break(sm)) {
                max-width: 70%;
            }
            @include bp(min-width break(lg)) {
                max-width: 80%;
            }
            @include bp(min-width break(xl)) {
                max-width: 65%;
            }
            @include bp(min-width break(xxl)) {
                max-width: 45%;
            }
        }
    }

    .title {
        padding: 0 !important;
        margin-left: 0;
        margin-bottom: 24px;
        opacity: 0;
    }
    
    .intro {
        @include responsive-font(1.5vw, 16px, 18px, 18px);
        margin-bottom: 40px;
        opacity: 0;
    }
    
    .tel {
        margin-bottom: 0;
        
        @include bp(min-width break(xl)) {
            margin-bottom: spacing();
        }
    }
    
    .tel, .email {
        color: base-colour(white);
        @include responsive-font(1.4vw, 20px, 30px, 30px);
        border: 0;
        display: block;
        opacity: 0;
    }
    
    .form {
        padding-right: spacing();
        margin-top: spacing(lg);
        opacity: 0;
        
        @include bp(min-width break(xl)) {
            max-width: 65%;
        }
        
        @include bp(min-width break(xxl)) {
            max-width: 45%;
        }
        
        h3 {
            @include responsive-font(5vw, 32px, 56px, 56px);
        }
        
        label {
            @include responsive-font(1.5vw, 8px, 16px, 16px);
            font-weight: 300;
        }
        
        input {
            color: base-colour(white);
            font-weight: 300;
        }
        
        // checkbox wrap
        .checkbox-wrap {
            margin-top: spacing(md);
            
            .nf-field-label {
                @include responsive-font(1.5vw, 16px, 18px, 18px);
                margin-bottom: spacing(md) !important;
            }
        }
        
        //textbox wrap
        .textbox-wrap {
            .nf-field-label {
                @include responsive-font(1.4vw, 18px, 24px, 24px);
            }
            
            .nf-field-lelement {
                label {
                    @include responsive-font(1.5vw, 16px, 18px, 18px);
                }
            }
        }
        
        // ninja forms checkbox list
        .listcheckbox-wrap {
            margin-top: 52px;
            
            .nf-field-label {
                @include responsive-font(1.5vw, 16px, 18px, 18px);
                margin-bottom: spacing(sm) !important;
                
                @include bp(min-width break(xl)) {
                    margin-bottom: 26px !important;
                }
            }
            
            .nf-field-element {
                label {
                    @include responsive-font(1.5vw, 16px, 18px, 18px);
                }
            }
        }
        
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select {
            padding: 13px 12px !important;

            &::placeholder {
                @include responsive-font(1.5vw, 16px, 18px, 18px);
                color: base-colour(white);
            }
        }
        
        .border {
            input {
                border: 1px solid base-colour(white);
            }
        }
        
        input[type="button"] {
            color: base-colour();
            background: base-colour(white);
            
            &:hover {
                color: base-colour(white);
                background: base-colour();
            }
        }
    }
}

.day-radio { /* class added in Ninja Form admin for the day selector (radio) buttons */    
    .nf-field-element {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            
            @include bp(max-width break(sm)) {
                flex-wrap: wrap;
            }
            
            li {
                display: inline-block;
                margin-right: 8px !important;
                
                @include bp(max-width break(xs)) {
                    margin-bottom: 8px !important;
                }
                
                @include bp(min-width break(sm)) {
                    flex-grow: 1;
                }
                
                &:last-child {
                    margin-right: 0 !important;
                }
                
                input[type=radio] {
                    display: none;
                    
                    &:before {
                        display: none;
                    }
                }
                
                label {
                    font-size: 0.8em;
                    font-weight: 500 !important;
                    text-align: center;
                    text-transform: uppercase;
                    background: transparent;
                    border: 2px solid base-colour(white);
                    padding: 6px 12px;
                    margin-left: 0;
                    transition: ease 0.4s;
                    cursor: pointer;
                    
                    &:hover {
                        color: #4A4A4A;
                        background-color: base-colour(white);
                    }
                }
                
                .nf-checked-label {
                    color: #4A4A4A;
                    background-color: base-colour(white);
                }
            }
        }
    }
}