// =============================================
// Services (pages)
// =============================================

.services, .services-internal {
    margin-top: spacing(md);
    
    @include bp(min-width break(md)) {
        margin-top: 123px;
    }
    
    &__single {
        &--intro {
            margin-bottom: 24px;
            
            @include bp(min-width break(md)) { 
                margin-bottom: 98px;
            }
            
            .content-wrapper {
                animation: slideUp 1s forwards;
                
                .content {
                    @include responsive-font(1.4vw, 18px, 24px, 24px);
                    animation: fadeIn 1s forwards 0.6s !important;
                }
            }
        }
        
        .certs {
            margin: spacing(md) 0;
            
            @include bp(min-width break(lg)) {
                margin-right: 64px;
            }
                
            .grid {
                flex-direction: row;
                align-items: center;
                
                @include bp(min-width break(lg)) {
                    justify-content: flex-end;
                }
                
                .grid-item {
                    margin-right: spacing(sm);
                    margin-bottom: 0;
                    width: auto;
                    max-width: calc(50% - 5px);
                    flex-grow: 0;
                    
                    &:last-child {
                        margin-right: 0;
                    }
                    
                    @include bp(min-width break(sm)) { 
                        margin-right: spacing(md);
                    }
                    
                    @include bp(min-width break(lg)) {
                        margin-right: 0;
                        margin-left: spacing(md);
                    }
                    
                    &:before {
                        display: none !important;
                    }
                    
                    .cert-icon {
                        opacity: 0;
                    }
                }
            }
        }
        
        .featured-image {
            position: relative;
            transition: all ease 0.4s;
            z-index: 1;
            height: auto;
            
            .image {
                padding-top: 0;
                border: none;
                width: 100%;
                height: auto;
            }
            
            video {
                max-width: 100%;
            }
        }
        
        &--main {
            position: relative;
            z-index: 1;
            margin-bottom: 64px;
            
            @include bp(min-width break(lg)) {
                margin-bottom: 128px;
            }
            
            .content-container {
                .content {                                        
                    @include bp(min-width break(lg)) {
                        margin-left: 94px;
                    }
                }
            }
            
            .quote-content-container {
                @include bp(min-width break(xxl)) {
                    padding-left: 0 !important;
                }                
            }

            // all but the first quote to avoid repetition in the repater.
            .quote ~ .quote {
                display: none;
            }
        }
        
        &--contact-form {
            color: base-colour(white);
            font-weight: 300;
            background: base-colour(grey-dark);
            padding: spacing(lg) spacing();
            width: 100%;
            position: relative;
            left: 0;
            z-index: 1;
            
            .contact-form-links {
                margin: 64px 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                
                .link {
                    font-size: 32px;
                    display: inline-block;
                    margin-bottom: 32px;
                    border: none;
                }
            }
            
            a {
                color: base-colour(white);
                border-color: base-colour(white);
            }
            
            @include bp(min-width break(sm)) {
                padding: spacing(lg);
            }
            
            @include bp(min-width break(md)) {
                padding: spacing(xl) spacing(lg);
            }
            
            @include bp(min-width break(lg)) {
                padding-left: 176px;
                width: calc(100% + 174px);
                left: -174px;
            }
            
            @include bp(min-width break(xl)) {
                padding-left: 352px;
                left: -352px;
            }
            
            h3 {
                margin-top: 44px;
                margin-bottom: 44px;
                position: relative;
                
                @include bp(min-width break(lg)) {
                    font-size: 3em;
                }
                
                &:before {
                    content: '';
                    background-image: url('../images/colon-white.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    display: inline-block;
                    margin-right: 8px;
                    position: relative;
                    left: 0;
                    top: -2px;
                    width: 4px;
                    height: 13px;
                    
                    @include bp(min-width break(lg)) {
                        width: 6px;
                        height: 27px;
                    }
                }
            }
            
            form {
                margin-top: 32px;
                
                @include bp(min-width break(lg)) {
                    max-width: 65%;
                }
                
                @include bp(min-width break(xxl)) {
                    max-width: 45%;
                }
                
                input {
                    color: base-colour(white) !important;
                }
                
                input[type="button"] {
                    color: base-colour(base) !important;
                    
                    &:hover {
                        color: base-colour(white) !important;
                    }
                }
                
                a {
                    color: base-colour(white);
                    border-bottom: 2px solid base-colour(white);
                }
            }
            
            .nf-form-fields-required {
                display: none;
            }

            // checkbox wrap
            .checkbox-wrap {
                margin-top: spacing(md);
                
                .nf-field-label {
                    margin-bottom: spacing(md) !important;
                    max-width: 543px;
                }
            }
            
            input[type="button"] {
                color: base-colour();
                background: base-colour(white);
                
                &:hover {
                    color: base-colour(white);
                    background: base-colour();
                }
            }
        }
        
        .one, .two {
            position: relative;
            z-index: 1;
            
            .content-container {
                padding-top: 32px;
                
                @include bp(min-width break(md)) {
                    width: 50%;
                }

                .content {         
                    @include responsive-font(1.5vw, 14px, 16px, 16px);
                    
                    @include bp(min-width break(lg)) {
                        margin-left: 94px;
                    }

                    h1, h2, h3, h4, h5, h5 {
                        font-weight: bold;
                        margin-top: 32px;
                    }
                }
                
                .title {
                    @include responsive-font(3.4vw, 42px, 60px, 60px);
                    width: 100% !important;
                    
                    @include bp(min-width break(lg)) {
                        max-width: 750px;
                    }
                    
                    @include bp(min-width break(xxl)) {
                        max-width: 900px;
                    }
                }
                
                form {
                    input[type="button"],
                    input[type="text"],
                    input[type="email"],
                    input[type="tel"],
                    select {
                        border: 2px solid base-colour(base) !important;
                    }
                    
                    input[type="button"] {
                        &:hover {
                            color: base-colour(white);
                        }
                    }
                }
            }
            
            .services-image {                
                @include bp(min-width break(md)) {
                    // margin-left: 0 !important;
                    margin-right: auto !important;
                }
            }
        }
        
        .one {
            margin-top: spacing(lg);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            position: relative;
            align-items: flex-start;
            
            @include bp(min-width break(md)) {
                flex-direction: row;
                justify-content: space-between;
            }

            .content-container {                
                @include bp(min-width break(lg)) {
                    padding-left: 0 !important;
                    margin-left: 0 !important;
                }
            }
            
            .services-image {
                opacity: 0;
                width: 100%;
                max-width: 300px;
                margin: 0 16px;
                
                @include bp(min-width break(sm)) {
                    max-width: 400px;
                    margin: 0 64px;
                }

                @include bp(min-width break(md)) {
                    @include bp(max-width break(lg)) {
                        max-width: 300px;
                        margin: 0 32px 0 0;
                    }
                }
                
                @include bp(min-width break(xl)) {
                    max-width: 600px;
                    margin: 0 164px 0 0;
                }
                
                img {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
        
        .two {
            background-color: base-colour(white);
            padding-top: spacing(md);
            padding-bottom: spacing(md);
            margin-top: spacing(md);

            @include bp(min-width break(lg)) {
                padding-top: spacing(xl);
                width: calc(100%);
                left: -176px;
            }
            
            .content-container {                
                @include bp(min-width break(lg)) {
                    margin-left: 176px !important;
                    padding-left: 0 !important;
                }
            }
            
            .services-image {
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0;
                margin-top: spacing(md);
                
                @include bp(min-width break(xl)) {
                    margin-top: 70px;
                }
            }
            
            .desktop {
                background-size: 100% auto;
                max-width: 100%;
                height: auto;
                
                @include bp(max-width break(sm)) {
                    display: none;
                }
                
                @include bp(min-width break(sm)) {
                    margin-right: spacing(lg);
                    margin-left: spacing(lg);
                }

                @include bp(min-width break(lg)) {
                    margin-right: 60px;
                    margin-left: 176px;
                }
                
                @include bp(min-width break(xl)) { 
                    margin-right: 176px;
                }
                
                @include bp(min-width break(xxl)) { 
                    padding: 0 116px;
                    margin: spacing(lg) 176px 0 spacing(lg);
                }
                
                img {
                    width: 100%;
                }
            }
            
            .mobile {
                margin-left: spacing();
                width: 100%;
                
                @include bp(min-width break(sm)) {
                    display: none;
                }
            }
        }
    }    
}


// NEW REPEATER CODE
.services__single {
    &--main {
        position: relative;
        z-index: 1;
        
        .one {
            .services-image {
                margin-bottom: -32px;
            }
        }
    }
    
    .services-partial {
        .white-bg {
            background-color: transparent;
        }
    }
    
    .contact-partial {
        padding-top: 64px;
        padding-bottom: 32px;
        margin-top: 0;
        background-color: #fff;
        
        @include bp(min-width break(xs)) {
            padding-bottom: 64px;
        }
        
        @include bp(min-width break(lg)) {
            padding-bottom: 100px;
            padding-left: 176px;
            margin-bottom: 0;
            width: calc(100% + 176px);
            position: relative;
            left: -176px;
        }
    }
}

.services-partial,
.more-services-partial {
    padding-top: spacing(lg);
    margin-top: spacing(lg);
    margin-bottom: spacing(lg);
    position: relative;
    z-index: 1;
    
    @include bp(min-width break(md)) {
        padding-top: spacing(xl);
        margin-bottom: spacing(xl);
    }
    
    @include bp(min-width break(lg)) {
        margin-top: 178px;
    }
    
    .grey-bg {
        background: base-colour(grey-light);
        width: calc(100% + 176px);
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;

        @include bp(min-width break(lg)) {
            @include bp(max-width break(xl)) {
                height: 30%;
            }
        }
        
        @include bp(min-width break(lg)) {
            left: -176px;
        }
    }
    
    .white-bg {
        background: base-colour(white);
        width: calc(100% + 176px);
        height: 100%;
        position: absolute;
        bottom: -50%;
        left: 0;
        z-index: -1;

        @include bp(min-width break(lg)) {
            left: -176px;
        }
    }
    
    .content-container {
        width: 100% !important;

        @include bp(min-width break(lg)) {
            margin-bottom: 80px;
            width: calc(100% - 176px) !important;
        }
        
        .content-wrapper {
            .title {
                @include bp(min-width break(lg)) {
                    width: 110% !important;
                }
            }
            
            .wrapper {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                position: relative;
                justify-content: flex-start;
                
                @include bp(min-width break(md)) {
                    flex-direction: row;
                    width: 100%;
                }
                
                .est {
                    @include bp(min-width break(md)) {
                        width: 20%;
                        max-width: 200px;
                    }
                    
                    span {
                        display: inline-block;
                    }
                }
                
                .content {
                    @include responsive-font(1.7vw, 18px, 18px, 18px);
                    
                    @include bp(min-width break(md)) {
                        width: 70%;
                        max-width: 636px;
                    }
                }
            }
        }
    }
    
    .pages {
        margin-top: 20px;
        
        @include bp(min-width break(lg)) {
            margin-top: 80px;
        }
        
        .grid {
            margin-bottom: spacing(md);
            
            @include bp(min-width break(lg)) {
                margin-bottom: 180px;
            }
            
            .item {
                .more-link {
                    @include responsive-font(1.5vw, 8px, 16px, 16px);
                }
                
                .excerpt {
                    @include responsive-font(1.5vw, 8px, 16px, 16px);
                    padding-right: spacing(md);
                    margin: 17px 0 31px 0;
                }
            }
        }
    }
}

.services-internal {
    .quote {        
        @include bp(min-width break(lg)) {
            margin-left: 167px;
            margin-bottom: 64px;
        }
    }
}


// =============================================
// Services Internal (child pages)
// =============================================

.si-bg-color {
    .services-internal {
        &__single {
            &--intro {
                @include bp(min-width break(lg)) {
                    @include bp(max-width break(xl)) {
                        margin-left: 0;
                    }
                }                
            }
            
            .one, .two {                
                .content-container {
                    @include bp(min-width break(lg)) {
                        margin-left: 176px;
                    }
                    
                    @include bp(min-width break(xl)) {
                        margin-left: 176px !important;
                    }

                    @include bp(min-width break(xxl)) {
                        margin-left: 240px !important;
                    }
                    
                    p,
                    h3, h4, h5, h6  {
                        @include bp(min-width break(xxl)) {
                            padding-right: 116px;
                        }
                    }
                    
                    ul, ol {
                        li {
                            line-height: 2.5em;
                        }
                    }
                }
            }
            
            .one {
                background-color: base-colour(white);
                padding-top: spacing(xl);
                margin-top: spacing(xl);
                position: relative;
                
                @include bp(min-width break(lg)) {
                    padding-top: spacing(xl);
                    padding-bottom: spacing(lg);
                    margin-top: spacing(lg);
                    width: calc(100%);
                    left: -176px;
                }
                
                .featured-image {                 
                    @include bp(max-width break(sm)) {
                        margin-bottom: -100px;
                        top: -250px;
                        width: 100%;
                    }
                    
                    @include bp(min-width break(sm)) {
                        max-width: 70%;
                        top: -225px;
                        margin-left: auto;
                        margin-right: 0;
                    }
                    
                    @include bp(min-width break(md)) {
                        max-width: 300px;
                        position: absolute;
                        right: 0;
                        top: -100px;
                    }
                    
                    @include bp(min-width break(lg)) {
                        right: -100px
                    }

                    @include bp(min-width break(xl)) {
                        max-width: 400px;
                        top: -200px;
                        right: -64px;
                    }
                    
                    @include bp(min-width break(xxl)) {
                        top: -350px;
                        max-width: 600px;
                    }
                    
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                
                .content-container {
                    @include bp(max-width break(md)) {
                        margin-top: -150px;
                    }
                }
                
                .services-internal-image {
                    width: 100%;
                    margin-bottom: -32px;
                    
                    @include bp(min-width break(lg)) {
                        position: relative;
                        right: -176px;
                        margin-left: auto;
                        margin-right: 0;
                        margin-bottom: -176px;
                    }
                    
                    img {
                        width: 100%;
                    }
                }
            }
            
            .two {
                .content-container {
                    margin-bottom: 32px;
                    position: relative;
                    overflow: visible;
                    
                    @include bp(min-width break(lg)) {
                        width: calc(100% - 176px);
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    
                    @include bp(min-width break(xxl)) {
                        padding-right: 116px;
                    }
                    
                    .title {
                        margin-bottom: 24px;
                        width: 100%;
                    }
                    
                    h1, h2, h3, h4, h5, h6 {
                        margin: 32px 0;
                    }
                    
                    .content {                        
                        @include bp(min-width break(lg)) {
                            width: 50%;
                        }
                        
                        @include bp(min-width break(xxl)) {
                            width: 60%;
                        }
                        
                        p {
                            padding-left: 0;
                        }
                        
                        ul, ol {
                            list-style-type: none;
                            padding: 0 0 0 16px;
                            margin: 0;
                        }
                    }

                    .content-wrapper {        
                        @include bp(min-width break(lg)) {
                            margin-left: 94px;     
                            width: 50%;
                        }
                        
                        @include bp(min-width break(xxl)) {
                            width: 60%;
                        }
                        
                        .content {
                            margin-left: 0;
                        }
                    }
                    
                    .floating-image {                        
                        @include bp(min-width break(lg)) {
                            width: 45%;
                            max-width: 450px;
                            position: absolute;
                            right: -140px;
                            height: auto;
                        }
                        
                        @include bp(min-width break(xxl)) {
                            right: -32px;
                            max-width: 550px;
                        }
                    }
                    
                }

                .large-image {
                    width: 100%;
                    margin-bottom: -32px;
                    
                    @include bp(min-width break(sm)) {
                        margin-bottom: 0;
                    }
                    
                    @include bp(min-width break(lg)) {
                        position: relative;
                        right: -176px;
                        margin-top: 128px;
                        margin-right: 0;
                        margin-bottom: 100px;
                        margin-left: auto;
                    }
                    
                    img {
                        width: 100%;
                    }
                }
            }    
        }
    }
    
    .services-partial,
    .more-services-partial {
        background-color: transparent;
        margin-bottom: 0;
        
        .grey-bg {
            height: 100%;
        }
        
        .grid {
            margin-bottom: 0;
        }
        
        .meta {
            background-color: transparent !important;
        }
    }
    
    footer {
        background-color: base-colour(white);
        
        .foot {
            margin-top: 0;
            
            @include bp(min-width break(sm)) {
                padding-top: 64px;
            }
            
            @include bp(min-width break(lg)) {
                padding-left: 64px;
                padding-right: 64px;
                width: 100%;
            }
        }
    }
}

.services-partial {    
    .grid {
        justify-content: flex-end;
    }
}

.more-services-partial {
    margin-top: 0 !important;

    @include bp(min-width break(lg)) {
        margin-top: 0 !important;
    }
    
    .grey-bg {
        height: 50% !important;
        
        @include bp(min-width break(sm)) {
            height: 60% !important;
        }

        @include bp(min-width break(md)) {
            @include bp(max-width break(xl)) {
                height: 65% !important;
            }
        }

    }
    
    .est {
        @include bp(min-width break(lg)) {
            margin-bottom: 0;
        }
    }
    
    .content-container {
        @include bp(min-width break(sm)) {
            margin-bottom: 32px;
        }

        @include bp(min-width break(xl)) {
            margin-bottom: 64px;
        }
        
        p {
            margin-bottom: 0;
        }
    }
    
    
    .pages {
        margin-top: 0;
        padding-bottom: 64px;
        
        @include bp(min-width break(lg)) {
            width: calc(100% + 176px);
            position: relative;
            left: -176px;
            
        }

        &:before {
            content: '';
            background-color: #fff;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .grid {
            background-color: transparent;
            padding: 16px;
            flex-direction: row;
            flex-wrap: wrap;
            
            @include bp(min-width break(lg)) {
                width: calc(100% - 176px);
                position: relative;
                left: 176px;
            }

            .grid-item {
                background-color: #fff;
                border: 4px solid;
                width: calc(50% - 4px);
                margin-right: 8px;
                margin-bottom: 8px;
                min-height: 100px;
                flex-grow: 0;

                &:before {
                    display: none;
                }
                
                @include bp(max-width break(sm)) {
                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }
                
                @include bp(min-width break(sm)) {
                    width: calc(33% - 4px);
                    
                    @include bp(max-width break(md)) {
                        &:nth-child(3n) {
                            margin-right: 0;
                        }
                    }
                }
                
                @include bp(min-width break(md)) {
                    width: calc(25% - 8px);

                    &:nth-child(4n) {
                        margin-right: 0;
                    }
                }
                
                @include bp(min-width break(xl)) {
                    min-height: 175px;
                }

                @include bp(min-width break(xxl)) {
                    min-height: 300px;
                }
                
                .text-wrapper {
                    text-align: center;
                    line-height: 1.5em;
                    position: relative;
                    padding: 16px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    
                    @include bp(max-width break(xl)) {
                        font-size: 14px;
                    }
                    
                    @include bp(min-width break(xs)) {
                        font-size: 16px;
                    }
                    
                    @include bp(min-width break(xl)) {
                        font-size: 20px;
                        padding: 16px 32px;
                    }

                    @include bp(min-width break(xxl)) {
                        font-size: 32px;
                        padding: 32px 100px;
                    }
                }
            }
        }
    }
}

