// =============================================
// Vacancies (vacancies.php)
// =============================================

.vacancies {
    margin-top: spacing(md);

    @include bp(min-width break(md)) {
        margin-top: 123px;
    }
    
    .content {
        @include responsive-font(1.4vw, 18px, 24px, 24px);
    }
    
    .more-link {
        margin-top: 61px;
    }
        
    .featured-image {
        margin-top: 70px;
        
        .image {
            top: 0 !important;
        }
    }
    
    &__current {
        background-color: base-colour(orange);
        padding-top: spacing(lg);
        padding-bottom: spacing(lg);
        margin-top: 70px;
        position: relative;
        top: -64px;
        z-index: 1;
        
        @include bp(min-width break(lg)) {
            padding-left: 176px;
            margin-top: 200px;
            width: calc(100%);
            left: -176px;
            top: -150px;
        }
        
        .content-wrapper {
            .title,
            .content,
            .more-link {
                color: branding-colour(maroon);
            }
            
            .title {
                @include bp(min-width break(xxl)) {
                    width: 100% !important;
                }
            }
            .content {
                @include responsive-font(1.5vw, 16px, 18px, 18px);
            }
            
            .more-link {
                @include responsive-font(3vw, 20px, 30px, 30px);

                span {
                    &:after {
                        display: none;
                    }
                }
            }
        }
        
        &--list {
            background: base-colour(grey);
            padding: spacing(lg) spacing();
            margin-top: spacing(lg);
            margin-left: spacing();
            margin-right: spacing();
            display: flex;
            flex-direction: row;
            position: relative;
            
            @include bp(min-width break(sm)) { 
                padding: spacing(lg);
                margin-left: spacing(lg);
                margin-right: spacing(lg);
            }
            
            @include bp(min-width break(lg)) {
                position: relative;
                top: 176px;
                left: -64px;
                width: calc(100% + 176px);
                margin-right: 0;
            }
            
            @include bp(min-width break(xl)) {
                padding-left: 116px;
            }

            .grid {
                width: 100%;
                transition: ease 0.4s;
                overflow: hidden;
                
                @include bp(min-width break(lg)) {
                    width: 50%;
                }
                
                .grid-item {
                    background-color: transparent !important;
                    margin-bottom: spacing(md) !important;
                    
                    @include bp(min-width break(xl)) {
                        margin-bottom: 102px !important;
                    }
                
                    .meta {
                        background-color: transparent;
                        padding: 0 !important;
                        
                        .post-title {
                            @include responsive-font(1.6vw, 20px, 30px, 30px);
                            margin-bottom: spacing();
                        }
                        
                        .excerpt {
                            @include bp(min-width break(sm)) {
                                width: 70%;
                            }
                            
                            @include bp(min-width break(xxxl)) {
                                width: 50%;
                            }
                            
                            .content {
                                @include responsive-font(1.5vw, 14px, 16px, 16px);
                            }
                        }
                        
                        .more-link {
                            @include responsive-font(1.5vw, 14px, 16px, 16px);
                            text-decoration: underline;
                            text-align: left;
                            padding: 0;
                            margin-top: spacing() !important;
                            display: inline-block !important;
                            width: 15%;
                            cursor: pointer;
                        }
                        
                    }
                }            
            }

            .activate {
                color: red;
            }
            
            .post-content {
                display: none;
                color: base-colour(white);
                background-color: branding-colour(maroon);
                padding: spacing(lg) spacing(md);
                width: calc(100% - 50px);
                transition: ease 0.4s;
                position: fixed;
                top: 88px;
                right: 0;
                z-index: 10;
                height: 100vh;
                
                @include bp(min-width break(sm)) {
                    top: 98px;
                }
                
                @include bp(min-width break(md)) {
                    top: 122px;
                }
                
                @include bp(min-width break(lg)) {
                    width: calc(50% + 46px);
                    display: block;
                    position: relative;
                    top: -64px;
                }
                
                .apply-title {
                    @include responsive-font(5vw, 32px, 56px, 56px);
                }
                
                p {
                    width: 100%;
                }
                
                .close-btn {
                    color: white;
                    background-color: branding-colour(maroon);
                    border: 0;
                    cursor: pointer;
                    padding: 10px 10px 10px 12px;
                    width: 46px;
                    height: 46px;
                    position: absolute;
                    top: 64px;
                    left: -46px;
                }
            }

            // .slide-grid {
            // }
    
            // .slide-post {
            //     right: 0;
            // 
            //     @include bp(min-width break(lg)) {
            //         right: -64px;
            //     }
            // }
        }
    }
    
    &__single {
        margin-bottom: spacing(lg);
        
        &--intro {
            .content-container {
                .content-wrapper {                    
                    .title {}
                    .content {
                        @include responsive-font(1.5vw, 16px, 18px, 18px);
                        width: 100%;
                    }
                }
            }
        }
        
        &--skills {
            margin-top: spacing(md);
            margin-bottom: spacing(md);
            
            @include bp(min-width break(lg)) {
                margin-top: spacing(lg);
                margin-bottom: spacing(lg);
            }
            
            .skills-list {
                padding: 0 0 0 17px;
                margin: 0;
                list-style-type: none;
                
                @include bp(min-width break(md)) {
                    @include bp(max-width break(lg)) {
                        margin-left: spacing(lg);
                    }
                }
                
                @include bp(min-width break(sm)) {
                    margin: 0 spacing(lg) 0 0;
                }
                
                .skills-list-item {
                    position: relative;
                    margin-bottom: spacing();
                    opacity: 0;
                    
                    &:before {
                        content: '';
                        background-image: url('../images/squares.svg');
                        background-size: auto 100%;
                        background-repeat: no-repeat;
                        width: 5px;
                        height: 17px;
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        left: -16px;
                        transform: translateY(-50%);
                    }
                }
            }
        }
        
        &--apply {
            .content {
                @include responsive-font(1.5vw, 16px, 18px, 18px);
            }
            .more-link {
                @include responsive-font(3vw, 20px, 30px, 30px);
                margin-top: spacing(md);
            }
        }
    }
}