// =============================================
// Center Both
// =============================================

// Horizontally and vertically centers block elements
// You must have a parent element with `position: relative`.
//  Example: @include center-both;
@mixin center-both {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-both-reset {
    position: inherit;
    top: inherit;
    left: inherit;
    transform: inherit;
}