//
// Easily Implement 2x Retina Background Images Using SCSS
//
// @include background-2x( 'path/to/image', 'jpg', 100px, 100px, center center, repeat-x );

// Path to your image: This is without the file extension and/or the ‘@2x’ flag. In other words, if your original image is at ./assets/images/background.jpg and your 2x image is where it should be at ./assets/images/background@2x.jpg, the path you’d use here would just be ./assets/images/background.
// Extension: This is the file extension of both your 1x and 2x files, without the “dot” (e.g. just “png” or “jpg”). Defaults to png when not specified.
// Width: This is the width of your image at 1x. It will be used to ensure that your 2x image scales down to the right size. Defaults to auto.
// Height: This is the height of your image at 1x. It will be used to ensure that your 2x image maintains the correct aspect ratio and isn’t “scrunched” or “stretched.” Defaults to auto.
// Background Position: This is just like what you’d enter for the normal CSS background-position property (e.g. “left top” or “center 20px”). Defaults to left top.
// Background Repeat: This is just like what you’d enter for the normal CSS background-repeat property (e.g. “repeat-x” or “no-repeat”). Defaults to no-repeat.

/****************************
 HIGH PPI DISPLAY BACKGROUNDS
*****************************/

@mixin background-2x($path, $ext: "png", $w: auto, $h: auto, $pos: left top, $repeat: no-repeat) {

  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";
 
  background-image: url("#{$at1x_path}");
  background-size: $w $h;
  background-position: $pos;
  background-repeat: $repeat;
 
  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$at2x_path}"); 
  }
}