// =============================================
// Vertical Align
// =============================================

//  @include vertical-align();
@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}