// =============================================
// Default (page.php)
// =============================================

.page {
    &__post {
        
    }
    
    &__content {
        
    }
}