form {
    li {
        &:before {
            display: none !important;
        }
    }
    
    label {
        @include responsive-font(1.5vw, 16px, 18px, 18px);
        font-weight: 300 !important;
    }
    
    .nf-field-label {
        padding: 0 !important;
        margin-bottom: 0 !important;
    }
    
    // checkbox wrap
    .checkbox-wrap {
        margin-top: 90px;
        
        .nf-field-element {
            margin-right: spacing();
        }
        
        .nf-field-label {
            label {                
                @include bp(max-width break(xl)) {
                    line-height: 1.5em;
                }
            }
        }
    }
    
    // checkbox list
    .listcheckbox-wrap {
        @include bp(max-width break(xl)) {
            margin-top: spacing() !important;
        }

        .nf-field-element {
            ul {
                li {
                    input[type="checkbox"] {
                        @include bp(min-width break(md)) {
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
        color: base-color(white);
        background: transparent;
        border: 2px solid base-colour(white);
        border-radius: 0;
        padding: 12px;
        
        &:focus {
            outline: 0;
        }
    }
    
    select {
        color: base-colour(white);
        appearance: none;
        background-image: url('../images/icons/select-arrow.png');
        background-position: center right 8px;
        background-size: auto 8px;
        background-repeat: no-repeat;
    }
    
    .nf-error-msg {
        background-color: base-colour(white);
        font-size: 0.8em;
        padding: 4px 16px;
        margin-right: 0 !important;
        display: inline-block;
        width: auto;
    }
}

// CHECKBOX STYLES
input[type=checkbox], input[type=radio] {
    visibility: hidden;
    
    &:before {
        content: '';
        background: transparent;
        border: 1px solid base-colour(white);
        border-radius: 1px;
        display: inline-block;
        height: 12px;
        width: 12px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        visibility: visible;
    }
}

input[type=checkbox]:checked,
input[type=radio]:checked {
    &:before {
        background-image: url('../images/icons/check.svg');
        background-position: center;
        background-size: auto 60%;
        background-repeat: no-repeat;
    }
}
