$heading-font-size: (
    // h1 : 96px,
    // h2 : 74px,
    // h3 : 30px,
    // h4 : 32px,
    // h5 : 22px,
    // h6 : 12px
);

@function headingsize($value: '') { @return map-get($heading-font-size, $value); }

$heading_base-font: $type_base-fontfamily;
$heading_base-weight: 300;
$heading_base-line-height: 1em;
$heading_base-transform: none;

//Sub heading
$header_sub-font: null;
$heading_sub-weight: null;
$heading_sub-line-height: null;
$heading_sub-transform: null;

// =============================================
// Heading
// =============================================

$headings: (
    ('h1', 'h2', 'h3', 'h4', 'h5', 'h6'),
    ('%h1', '%h2', '%h3', '%h4', '%h5', '%h6')
);

// Used to set individual headings
//$heading-specific: remove($headings, h1, true);

#{$headings}{
    display: block;
    font:{
        family: $heading_base-font;
        weight: $heading_base-weight;
    }
    line-height: $heading_base-line-height;
    margin: 0;
    text-transform: $heading_base-transform;
}

@for $h from 1 through 6 {
    h#{$h}, %h#{$h}, .h#{$h} {
        font-size: headingsize(h#{$h});
    }
}

// responsive fonts
h1 { @include responsive-font(5vw, 42px, 96px, 96px); } //96px
h2 { @include responsive-font(5vw, 38px, 74px, 74px); } // 74px
h3 { @include responsive-font(1.4vw, 24px, 30px, 30px); } // 30px
h4 { @include responsive-font(1vw, 16px, 20px, 20px); } // 22px
h5 { @include responsive-font(1vw, 14px, 16px, 16px); } // 16px

.heading-group{

    > *:first-child{
        margin-bottom: 0.25em;
    }

    > *:last-child{
        margin-top: 0;
    }
}