// =============================================
// Pagination
// =============================================

.pagination-list {
    display: flex;
    flex-direction: row !important;
    
    @include bp(min-width break(md)) {
        margin-bottom: 90px;
    }
    
    @include bp(min-width break(lg)) {
        margin-bottom: 192px;
    }
    
    .item {
        padding: 0 !important;
        margin-right: spacing(lg);
        
        &:before {
            display: none;
        }
        
        a {
            @include responsive-font(1.5vw, 16px, 20px, 20px);
            display: inline-block;
            border: 0;
            transition: ease 0.4s;
            position: relative;
            
            &:before {
                content: '';
                background-image: url('../images/icons/menu-icon.svg');
                background-repeat: no-repeat;
                width: 10px;
                height: 10px;
                display: inline-block;
                position: absolute;
                top: 50%;
                transition: ease 0.4s;
                transform: translateY(-50%) rotate(90deg);
            }
            
            &:hover {                
                &:before {
                    left: 15px;
                }
            }
        }
    }

    .pagination__prev {
        a {
            padding-left: 32px;
            
            &:before {
                left: 16px;
                transition: ease 0.4s;
            }
            
            &:hover {
                &:before {
                    left: 10px;
                    right: 15px;
                }
            }
        }
    }
        
    .pagination__next {
        a {
            &:before {
                top: 50%;
                right: -16px;
                transition: ease 0.4s;
                transform: translateY(-50%) rotate(-90deg);
            }
            
            &:hover {
                &:before {
                    left: auto;
                    right: -20px;
                }
            }
        }
    }
}