#tablepress-1,
#tablepress-3 {
    margin-top: 64px !important;
}

.spotify-table {
    @include bp(max-width break(xxl)) {
        // width: 100% !important;
        // max-width: 100% !important;
    }
    
    @include bp(min-width break(xxl)) {
        table-layout: auto !important;
    }

    .odd {
        td {
            background-color: #F0F1F1 !important;
        }
    }
    
    tr {
        th, td {
            font-size: 1em;
            text-align: center !important;
            border: none !important;
            padding: 8px 8px !important;
            width: 1% !important;
            transition: ease 0.4s;
            
            @include bp(max-width break(xxl)) {
                white-space: nowrap !important;
            }
            
            @include bp(min-width break(md)) {
                font-size: 0.8em;
            }
            
            @include bp(min-width break(xxl)) {
                font-size: 1em;
                padding: 10px 10px !important;
                white-space: nowrap !important;
            }
        }
    }
    
    thead {
        tr {
            th {
                color: base-colour(white);
                font-weight: 100;
                background-color: #17E189;
                padding: 10px 8px !important;
                border: none;
                
                @include bp(min-width break(xxl)) {
                    padding: 12px 10px !important;
                }
                
                &:hover {
                    background-color: #0D9358 !important;
                }
            }
            
            .sorting_asc, 
            .sorting_desc {
                background-color: #0D9358 !important;
            }

            // currency-switcher
            .column-6,
            .column-10 {
                position: relative;
            }
        }
    }
    
    .column-2 {
        @include bp(min-width break(lg)) {
            display: none !important;
        }
    }
    
    .column-3,
    .column-4 {
        @include bp(max-width break(lg)) {
            display: none !important;
        }
    }
    
    .column-5,
    .column-9,
    .column-10 {        
        @include bp(max-width break(md)) {
            display: none !important;
        }
    }
    
    .currency-switcher {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        
        @include bp(min-width break(xxl)) {
            top: -32px;
        }
        
        
        .icon {
            display: inline-block;
            margin-right: 4px;
            width: 20px;
            
            @include bp(min-width break(xxl)) {
                width: 22px;
            }
            
            &:last-child {
                margin-right: 0;
            }
            
            &:before {
                content: '';
                font-family: FontAwesome;
                font-size: 0.8em;
                line-height: 20px;
                background-color: #17E189;
                border-radius: 100%;
                display: inline-block;
                height: 20px;
                width: 20px;
                cursor: pointer;
                transition: ease 0.4s;
                
                @include bp(min-width break(xxl)) {
                    line-height: 21px;
                    height: 22px;
                    width: 22px;
                }
            }
            
            &:hover {
                &:before {
                    background-color: #0D9358;
                }
            }
        }
        
        .sterling-total,
        .sterling-day { 
            &:before {
                content: '\f154';
            }
        }

        .dollar-total,
        .dollar-day { 
            &:before {
                content: '\f155';
            }
        }
        
        .euro-total,
        .euro-day { 
            &:before {
                content: '\f153';
            }
        }
    }

    // total earnings
    .column-6, // sterling
    .column-7, // dollar
    .column-8 // euro
    {
        display: none;
        position: relative;
        transition: ease 0.4s;
    }

    // earnings per day
    .column-10, // sterling
    .column-11, // dollar
    .column-12 { // euro
        display: none;
        position: relative;
        transition: ease 0.4s;
    }
    
    .active {
        &:before {
            background-color: #0D9358 !important;
        }
    }
    
    
} // end tables

.load-more {
    margin-top: 32px;
    margin-bottom: 64px !important;
    
    #show {
        color: base-colour(white);
        background-color: #17E189;
        
        &:hover {
            background-color: #0D9358 !important;
        }
    }
}

// IE Fixes
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .currency-switcher {
        .icon {
            &:before {
                cursor: pointer;
            }
        }
    }
}