// =============================================
// Local Var
// =============================================
$type_base-fontsize: fontsize();
$type_base-fontfamily: 'Roboto', sans-serif;
$type_base-fontfamily-condensed: 'Roboto Condensed', sans-serif;
$type_base-lineheight: 1em;
$type_paragraph-lineheight: 2em;

$type_body-colour: base-colour();
$type_link-colour: base-colour();
$type_link-colour--hover: null;

$type_link-underline--hover: null;

$type_mark-colour: null;
$type_mark-bg: null;

$type_code-color: null;
$type_code-fontsize: fontsize();


$type_small-fontsize: 80%;
$type_base-weight: 300;
$type_bold-weight: bold;

$type_lead-fontsize: fontsize();


// =============================================
// Typography
// =============================================

html {
    color: $type_body-colour;
    font-size: $type_base-fontsize;
    font-family: $type_base-fontfamily;
    line-height: $type_paragraph-lineheight;
    -webkit-font-smoothing: antialiased;
    
    @include bp(max-width break(md)) {
        font-size: 14px;
    }
}

p {
    line-height: 2em;
    letter-spacing: 0.8px;
}

ul, ol, p {
    font-weight: $type_base-weight;
    margin: 0;
    margin-bottom: spacing(sm);
    
    @include bp(max-width break(xs)) {
        line-height: 1.5em;
    }
}

ul, ol {
    list-style-type: none;

    ul, ol {
        margin-bottom: 0;
    }
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    .item {}
}

strong, b {
    font-weight: $type_bold-weight;
}

dfn, em, i, cite {
    font-style: italic;
}

%micro,
.micro,
sub,
sup,
small {
    font-size: $type_small-fontsize;
}

code,
kbd,
pre,
samp {
    font-size: $type_code-fontsize;
}

code {
    padding: 2px 4px;
    color: $type_code-color;
}

mark {
    background: $type_mark-bg;
    color: $type_mark-colour;
}


// =============================================
// Links
// =============================================

a,
.link,
%link {
    color: $type_link-colour;
    text-decoration: none;
    
    &.image {
        &:after {}
    }
}

section a {
    border-bottom: 2px solid base-colour();
}


// =============================================
// Lead
// =============================================

.lead,
%lead {
    font-size: $type_lead-fontsize;
}