// =============================================
// KEYFRAMES
// =============================================

/* ------------------------------------
   ON SCREEN ANIMATIONS (AOS)
------------------------------------ */

// adds animation on every other child on scroll
[data-aos="grid-item"] {
    // class to add fade animations within a grid-item
    .fade {
        opacity: 0;
    }

    // class to add slide up animations within a grid-item
    .slide {
        top: 100%;
        opacity: 0;
    }
        
    &.aos-animate {  
        .fade {
            transition-property: opacity;
            animation: fadeIn 1s forwards;
        }

        .slide {
            transition-property: opacity;
            animation: slideUp 0.7s forwards;
        }
    }
}

/* ------------------------------------
   DELAYS FOR :NTH-CHILD
------------------------------------ */

@include bp(min-width break(sm)) { 
    .grid-item:nth-child(2n) .fade,
    .grid-item:nth-child(2n) .slide {
        animation-delay: 0.1s !important;
    }
}
    
@include bp(min-width break(xl)) {
    .grid-item:nth-child(1) .fade, .grid-item:nth-child(1) .slide { animation-delay: 0s !important; }
    .grid-item:nth-child(2) .fade, .grid-item:nth-child(2) .slide { animation-delay: 0.1s !important; }
    .grid-item:nth-child(3) .fade, .grid-item:nth-child(3) .slide { animation-delay: 0.2s !important; }
    .grid-item:nth-child(4) .fade, .grid-item:nth-child(4) .slide { animation-delay: 0s !important; }
    .grid-item:nth-child(5) .fade, .grid-item:nth-child(5) .slide { animation-delay: 0.1s !important; }
    .grid-item:nth-child(6) .fade, .grid-item:nth-child(6) .slide { animation-delay: 0.2s !important; }
    .grid-item:nth-child(7) .fade, .grid-item:nth-child(7) .slide { animation-delay: 0s !important; }
    .grid-item:nth-child(8) .fade, .grid-item:nth-child(8) .slide { animation-delay: 0.1s !important; }
    .grid-item:nth-child(9) .fade, .grid-item:nth-child(9) .slide { animation-delay: 0.2s !important; }
    .grid-item:nth-child(10) .fade, .grid-item:nth-child(10) .slide { animation-delay: 0s !important; }
    .grid-item:nth-child(11) .fade, .grid-item:nth-child(11) .slide { animation-delay: 0.1s !important; }
    .grid-item:nth-child(12) .fade, .grid-item:nth-child(12) .slide { animation-delay: 0.2s !important; }

    .four-column {
        .grid-item:nth-child(1) .fade, .grid-item:nth-child(1) .slide { animation-delay: 0s !important; }
        .grid-item:nth-child(2) .fade, .grid-item:nth-child(2) .slide { animation-delay: 0.1s !important; }
        .grid-item:nth-child(3) .fade, .grid-item:nth-child(3) .slide { animation-delay: 0.2s !important; }
        .grid-item:nth-child(4) .fade, .grid-item:nth-child(4) .slide { animation-delay: 0.3s !important; }
        .grid-item:nth-child(5) .fade, .grid-item:nth-child(5) .slide { animation-delay: 0s !important; }
        .grid-item:nth-child(6) .fade, .grid-item:nth-child(6) .slide { animation-delay: 0.1s !important; }
        .grid-item:nth-child(7) .fade, .grid-item:nth-child(7) .slide { animation-delay: 0.2s !important; }
        .grid-item:nth-child(8) .fade, .grid-item:nth-child(8) .slide { animation-delay: 0.3s !important; }
        .grid-item:nth-child(9) .fade, .grid-item:nth-child(9) .slide { animation-delay: 0s !important; }
        .grid-item:nth-child(10) .fade, .grid-item:nth-child(10) .slide { animation-delay: 0.1s !important; }
        .grid-item:nth-child(11) .fade, .grid-item:nth-child(11) .slide { animation-delay: 0.2s !important; }
        .grid-item:nth-child(12) .fade, .grid-item:nth-child(12) .slide { animation-delay: 0.3s !important; }
    }
}


// 0.2s delay on every other navigation li to fade in
@for $i from 1 through 20 {
    .head__nav ul li:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s !important;
    }
}

/* ------------------------------------
   KEYFRAMES
------------------------------------ */

@keyframes fadeIn {
    0% {}
    100% { opacity: 1; }
}

@keyframes slideUp {
    0% {}
    100% { top: 0; opacity: 1; }
}

@keyframes slideHeight {
    0% {}
    100% { height: 100vh; }
}

@include bp(min-width break(md)) {
    @keyframes slideHeight {
        0% {}
        100% { height: 50%; }
    }
}

@keyframes blockIn {
    0% {}
    100% { display: block; }
}

// home intro title text
@keyframes slidetextbox {
    0%   { width: 0%; left: 0; }
    25%  { width: 100%; left: 0; }
    50%  { width: 100%; left: 0; }
    75%  { width: 0%; left: 100%; }
    100%  { width: 0%; left: 100%; }
}
.slidetextbox { animation: slidetextbox 1.5s forwards; }

@keyframes textdelay {
    0%   { color: rgba(0, 0, 0, 0); }
    100%  { color: rgba(0, 0, 0, 1); }
}
.textdelay { animation: textdelay 0.2s forwards; }

// menu footer
@keyframes slideUpFooter {
    0%   { }
    100%  { height: 70%; }
}