$grid_base_gutter: 10px;
$grid_base_gutter-bottom: 20px;

// =============================================
// Grid
// =============================================

%grid {
    display: flex;
    flex-wrap: wrap;
    
    > * {
        width: 100%;
    }
}


// =============================================
// Grid Gutter Y Axis - Vertical - bottom
// =============================================

%grid-gutter {
    margin-left: -#{$grid_base_gutter};
    margin-right: -#{$grid_base_gutter};

    > * {
        padding-left: $grid_base_gutter;
        padding-right: $grid_base_gutter;
        margin-bottom: $grid_base_gutter-bottom;
    }
}
