// =============================================
// Lists
// =============================================

.list-inline,
%list-inline{
	padding-left: 0;
	margin-left: 0;
	list-style: none;
	
	>li{
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
	}
}

.list-ordered,
%list-ordered{
    list-style-type: decimal;
    
    li{
	    
	    ol,
	    ul{
		    //Extra Styles
	    }
	    
	    ul{
		    list-style-type: square;
	    }
    }
}

.list-unordered,
%list-unordered{
	list-style-type: square !important;
	padding: 0.35em 0 0.75em 1em !important;

	li{
	    
	    ol,
	    ul{
			//Extra Styles
	    }
	    
	    ul{
		    list-style-type: square !important;
	    }
    }
}

.list-unstyled,
%list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}