// =============================================
// Breakpoints
// =============================================
$breakpoints: (
	xs      : 399px,
	sm      : 599px,
	md      : 770px,
	lg      : 999px,
	xl      : 1299px,
	xxl     : 1800px,
	xxxl    : 2300px,
	xs-max  : 398px,
	sm-max  : 598px,
	md-max  : 769px,
	lg-max  : 998px,
	xl-max  : 1298px,
    xs-height : 768px,
    sm-height : 800px,
    md-height : 900px,
);

@function break($value: '') {
	@return map-get($breakpoints, $value);
}