// =============================================
// Containers
// =============================================
$containers: (
	xs		: 566px,
	sm		: 750px,
	md      : 1024px,
	lg      : 1366px,
	max      : 1233px
);

@function container($value: 'max') {
	@return map-get($containers, $value);
}