body.login {
    background-color: #fff;
}
body.login #login_error, body.login .message {
	border-left: 4px solid #000;
}
body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {
	background-image: url(../images/login.png);
}
body.login div#login form#loginform {}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {
    height: 30px;
    line-height: 30px;
}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {
	width: 120px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: #000;
    text-shadow: none;
}
body.login div#login form#loginform p.submit input#wp-submit:hover {
	background-color: #222;
}
body.login div#login p#nav {
	display: inline-block;
    padding: 0 40px 0 0;
    font-size: 10px;
    float: right;
    margin-top: 16px;
}

body.login div#login form#lostpasswordform {}
body.login div#login form#lostpasswordform .submit {}
body.login div#login form#lostpasswordform .submit input#wp-submit {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: #000;
}

body.login div#login p#nav a {}
body.login div#login p#nav a:hover {
	color: #000;
}
body.login div#login p#backtoblog {
	display: inline-block;
    font-size: 10px;
    float: left;
}
body.login div#login p#backtoblog a {}
body.login div#login p#backtoblog a:hover {
	color: #000;
}