// =============================================
// Icons
// =============================================

@font-face {
	font-family: "iconFont";
	src: url('../fonts//iconFont.eot');
	src: url('../fonts//iconFont.eot?#iefix') format('eot'),
	url('../fonts//iconFont.woff') format('woff'),
	url('../fonts//iconFont.ttf') format('truetype'),
	url('../fonts//iconFont.svg#iconFont') format('svg');
}

%icon:before, %icon:after, %icon {
	font-family: "iconFont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


%arrow-icon {
	content: "\E001";
}

%arrow {
	content: "\E002";
}

%burger-icon {
	content: "\E003";
}

%check {
	content: "\E004";
}

%close {
	content: "\E005";
}

%colon {
	content: "\E006";
}

%crown-icon {
	content: "\E007";
}

%dollar {
	content: "\E008";
}

%email-icon {
	content: "\E009";
}

%est-icon {
	content: "\E00A";
}

%euro {
	content: "\E00B";
}

%facebook-icon {
	content: "\E00C";
}

%google-icon {
	content: "\E00D";
}

%linkedin-icon {
	content: "\E00E";
}

%logo {
	content: "\E00F";
}

%logo_ {
	content: "\E010";
}

%menu-icon {
	content: "\E011";
}

%newsletter-icon {
	content: "\E012";
}

%scroll-arrow {
	content: "\E013";
}

%sterling {
	content: "\E014";
}

%telephone-icon {
	content: "\E015";
}

%twitter-icon {
	content: "\E016";
}